In [1]:
import psycopg2
from password_PG import pw
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password=pw, host='127.0.0.1', port= '5433'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Preparing query to create a database
sql = '''CREATE database UFO_sightings_db''';

#Creating a database
cursor.execute(sql)
print("Database created successfully........")

#Closing the connection
conn.close()

Database created successfully........

In [2]:
import pandas as pd
csv_path = "ufo_airports.csv"
ufo_df = pd.read_csv(csv_path)
# ufo_df['Event.Date'] = pd.to_datetime(ufo_df['Event.Date'], format="%m/%d/%Y")
ufo_df.head()

,Unnamed: 0,Date,Shape,Location,State,Country,Lat,Lng,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address
0,0,2016-01-01,Unknown,Ontario,CA,USA,34.063344,-117.650888,NaN,NaN,US Army Department,Los Alamitos
1,1,2016-01-01,Diamond,Longmont,CO,USA,40.167207,-105.101927,Boulder Municipal Airport-BDU,"3327 Airport Road, Boulder",US Army Department,"721 19th St #485, Denver"
2,2,2016-01-01,Lights Only,Auburn,WA,USA,47.307323,-122.228453,Seattle-Tacoma International Airport,"17801 International Boulevard, Seattle",Us Army,"13 A Bldg99, Lewis Mcchord"
3,3,2016-01-01,Lights Only,Smyrna,GA,USA,33.883993,-84.514376,Hartsfield-Jackson Atlanta International Airport,"6000 North Terminal Parkway, Atlanta",Military Depot,"13680 Arnold Mill Rd A, Roswell"
4,4,2016-01-01,Circle,Richland,WA,USA,46.280420,-119.275200,Tri-Cities Airport,"3601 North 20th Avenue, Pasco",US Army Department,"1011 E Ainsworth Ave, Pasco"

In [3]:
ufo_df_dropped = ufo_df.drop(['Unnamed: 0'], axis = 1)
ufo_df_dropped.head()

,Date,Shape,Location,State,Country,Lat,Lng,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address
0,2016-01-01,Unknown,Ontario,CA,USA,34.063344,-117.650888,NaN,NaN,US Army Department,Los Alamitos
1,2016-01-01,Diamond,Longmont,CO,USA,40.167207,-105.101927,Boulder Municipal Airport-BDU,"3327 Airport Road, Boulder",US Army Department,"721 19th St #485, Denver"
2,2016-01-01,Lights Only,Auburn,WA,USA,47.307323,-122.228453,Seattle-Tacoma International Airport,"17801 International Boulevard, Seattle",Us Army,"13 A Bldg99, Lewis Mcchord"
3,2016-01-01,Lights Only,Smyrna,GA,USA,33.883993,-84.514376,Hartsfield-Jackson Atlanta International Airport,"6000 North Terminal Parkway, Atlanta",Military Depot,"13680 Arnold Mill Rd A, Roswell"
4,2016-01-01,Circle,Richland,WA,USA,46.280420,-119.275200,Tri-Cities Airport,"3601 North 20th Avenue, Pasco",US Army Department,"1011 E Ainsworth Ave, Pasco"

In [4]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:----@localhost:5433/ufo_sightings_db')
connection = engine.connect()

In [8]:
ufo_df_dropped.to_sql('ufo_airports', connection, index=False)

In [9]:
inspector = inspect(engine)
inspector.get_table_names()

['ufo_airports']

In [10]:

# Use Inspector to print the column names and types
columns = inspector.get_columns('ufo_airports')
for c in columns:
    print(c['name'], c["type"])

Date TEXT
Shape TEXT
Location TEXT
State TEXT
Country TEXT
Lat DOUBLE PRECISION
Lng DOUBLE PRECISION
Closest Airport TEXT
Closest Airport Address TEXT
Closest Military Base TEXT
Closest Military Base Address TEXT

In [11]:
engine.execute('SELECT * FROM ufo_airports LIMIT 10').fetchall()

[('2016-01-01', 'Unknown ', 'Ontario ', 'CA ', 'USA ', 34.0633443, -117.6508876, None, None, 'US Army Department', 'Los Alamitos'),
 ('2016-01-01', 'Diamond ', 'Longmont ', 'CO ', 'USA ', 40.1672068, -105.1019275, 'Boulder Municipal Airport-BDU', '3327 Airport Road, Boulder', 'US Army Department', '721 19th St #485, Denver'),
 ('2016-01-01', 'Lights Only ', 'Auburn ', 'WA ', 'USA ', 47.3073228, -122.2284532, 'Seattle-Tacoma International Airport', '17801 International Boulevard, Seattle', 'Us Army', '13 A Bldg99, Lewis Mcchord'),
 ('2016-01-01', 'Lights Only ', 'Smyrna ', 'GA ', 'USA ', 33.8839926, -84.5143761, 'Hartsfield-Jackson Atlanta International Airport', '6000 North Terminal Parkway, Atlanta', 'Military Depot', '13680 Arnold Mill Rd A, Roswell'),
 ('2016-01-01', 'Circle ', 'Richland ', 'WA ', 'USA ', 46.28042, -119.2751996, 'Tri-Cities Airport', '3601 North 20th Avenue, Pasco', 'US Army Department', '1011 E Ainsworth Ave, Pasco'),
 ('2016-01-01', 'Lights Only ', 'Irmo ', 'SC ', 'USA ', 34.0859829, -81.1831513, 'Columbia Metropolitan Airport', '3250 Airport Boulevard, West Columbia', 'United States Department of Army', '5450 Strom Thurmond Blvd # 208, Columbia'),
 ('2016-01-01', 'Lights Only ', 'Tacoma ', 'WA ', 'USA ', 47.2528768, -122.4442906, 'Saint Joseph Hospital Heliport', 'Tacoma', 'Us Army', '13 A Bldg99, Lewis Mcchord'),
 ('2016-01-01', 'Lights Only ', 'Portland ', 'OR ', 'USA ', 45.5051064, -122.6750261, 'A2 Global Shipping', '115 Southeast Yamhill Street #65h, Portland', 'Air National Guard 142 Fighter', '6801 NE Cornfoot Rd, Portland'),
 ('2016-01-01', 'Lights Only ', 'Newburgh ', 'ME ', 'USA ', 44.7173675, -69.0003898, 'Lucky Landing Marina and Seaplane Base', 'Glenburn', 'Maine Military Supply', '179 Main Rd, Holden'),
 ('2016-01-01', 'Lights Only ', 'Gloucester ', 'MA ', 'USA ', 42.6159285, -70.6619888, 'Boston Logan International Airport', 'Boston', 'US Army Department', 'US Army Department, 10 Causeway St, Boston')]

In [12]:
connection.close()