In [1]:
import psycopg2
from password_PG import pw
#from https://www.tutorialspoint.com/python_data_access/python_postgresql_create_database.htm
#establishing the connection
conn = psycopg2.connect(
   database="postgres", user='postgres', password=pw, host='127.0.0.1', port= '5433'
)
conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Preparing query to create a database
sql = '''CREATE database UFO_sightings_db''';

#Creating a database
cursor.execute(sql)
print("Database created successfully........")

#Closing the connection
conn.close()

Database created successfully........

In [58]:
import pandas as pd
csv_path = "Datasets/ufo_airports.csv"
ufo_df = pd.read_csv(csv_path)
# ufo_df['Event.Date'] = pd.to_datetime(ufo_df['Event.Date'], format="%m/%d/%Y")
ufo_df.head()

,Unnamed: 0,Date,Shape,Location,State,Country,Lat,Lng,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address
0,0,2016-01-01,Unknown,Ontario,CA,USA,34.063344,-117.650888,NaN,NaN,US Army Department,Los Alamitos
1,1,2016-01-01,Diamond,Longmont,CO,USA,40.167207,-105.101927,Boulder Municipal Airport-BDU,"3327 Airport Road, Boulder",US Army Department,"721 19th St #485, Denver"
2,2,2016-01-01,Lights Only,Auburn,WA,USA,47.307323,-122.228453,Seattle-Tacoma International Airport,"17801 International Boulevard, Seattle",Us Army,"13 A Bldg99, Lewis Mcchord"
3,3,2016-01-01,Lights Only,Smyrna,GA,USA,33.883993,-84.514376,Hartsfield-Jackson Atlanta International Airport,"6000 North Terminal Parkway, Atlanta",Military Depot,"13680 Arnold Mill Rd A, Roswell"
4,4,2016-01-01,Circle,Richland,WA,USA,46.280420,-119.275200,Tri-Cities Airport,"3601 North 20th Avenue, Pasco",US Army Department,"1011 E Ainsworth Ave, Pasco"

In [59]:
ufo_df_dropped = ufo_df.drop(['Unnamed: 0'], axis = 1)
ufo_df_dropped.head()

,Date,Shape,Location,State,Country,Lat,Lng,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address
0,2016-01-01,Unknown,Ontario,CA,USA,34.063344,-117.650888,NaN,NaN,US Army Department,Los Alamitos
1,2016-01-01,Diamond,Longmont,CO,USA,40.167207,-105.101927,Boulder Municipal Airport-BDU,"3327 Airport Road, Boulder",US Army Department,"721 19th St #485, Denver"
2,2016-01-01,Lights Only,Auburn,WA,USA,47.307323,-122.228453,Seattle-Tacoma International Airport,"17801 International Boulevard, Seattle",Us Army,"13 A Bldg99, Lewis Mcchord"
3,2016-01-01,Lights Only,Smyrna,GA,USA,33.883993,-84.514376,Hartsfield-Jackson Atlanta International Airport,"6000 North Terminal Parkway, Atlanta",Military Depot,"13680 Arnold Mill Rd A, Roswell"
4,2016-01-01,Circle,Richland,WA,USA,46.280420,-119.275200,Tri-Cities Airport,"3601 North 20th Avenue, Pasco",US Army Department,"1011 E Ainsworth Ave, Pasco"

In [60]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [72]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:----@localhost:5433/ufo_sightings_db')
connection = engine.connect()

In [62]:
ufo_df_dropped.to_sql('ufo_airports', connection, index=False)

ValueError: Table 'ufo_airports' already exists.

In [63]:
inspector = inspect(engine)
inspector.get_table_names()

['ufo_airports', 'us_airports', 'fireball']

In [5]:

# Use Inspector to print the column names and types
columns = inspector.get_columns('ufo_airports')
for c in columns:
    print(c['name'], c["type"])

Date TEXT
Shape TEXT
Location TEXT
State TEXT
Country TEXT
Lat DOUBLE PRECISION
Lng DOUBLE PRECISION
Closest Airport TEXT
Closest Airport Address TEXT
Closest Military Base TEXT
Closest Military Base Address TEXT

In [6]:
engine.execute('SELECT * FROM ufo_airports LIMIT 10').fetchall()

[('2016-01-01', 'Unknown ', 'Ontario ', 'CA ', 'USA ', 34.0633443, -117.6508876, None, None, 'US Army Department', 'Los Alamitos'),
 ('2016-01-01', 'Diamond ', 'Longmont ', 'CO ', 'USA ', 40.1672068, -105.1019275, 'Boulder Municipal Airport-BDU', '3327 Airport Road, Boulder', 'US Army Department', '721 19th St #485, Denver'),
 ('2016-01-01', 'Lights Only ', 'Auburn ', 'WA ', 'USA ', 47.3073228, -122.2284532, 'Seattle-Tacoma International Airport', '17801 International Boulevard, Seattle', 'Us Army', '13 A Bldg99, Lewis Mcchord'),
 ('2016-01-01', 'Lights Only ', 'Smyrna ', 'GA ', 'USA ', 33.8839926, -84.5143761, 'Hartsfield-Jackson Atlanta International Airport', '6000 North Terminal Parkway, Atlanta', 'Military Depot', '13680 Arnold Mill Rd A, Roswell'),
 ('2016-01-01', 'Circle ', 'Richland ', 'WA ', 'USA ', 46.28042, -119.2751996, 'Tri-Cities Airport', '3601 North 20th Avenue, Pasco', 'US Army Department', '1011 E Ainsworth Ave, Pasco'),
 ('2016-01-01', 'Lights Only ', 'Irmo ', 'SC ', 'USA ', 34.0859829, -81.1831513, 'Columbia Metropolitan Airport', '3250 Airport Boulevard, West Columbia', 'United States Department of Army', '5450 Strom Thurmond Blvd # 208, Columbia'),
 ('2016-01-01', 'Lights Only ', 'Tacoma ', 'WA ', 'USA ', 47.2528768, -122.4442906, 'Saint Joseph Hospital Heliport', 'Tacoma', 'Us Army', '13 A Bldg99, Lewis Mcchord'),
 ('2016-01-01', 'Lights Only ', 'Portland ', 'OR ', 'USA ', 45.5051064, -122.6750261, 'A2 Global Shipping', '115 Southeast Yamhill Street #65h, Portland', 'Air National Guard 142 Fighter', '6801 NE Cornfoot Rd, Portland'),
 ('2016-01-01', 'Lights Only ', 'Newburgh ', 'ME ', 'USA ', 44.7173675, -69.0003898, 'Lucky Landing Marina and Seaplane Base', 'Glenburn', 'Maine Military Supply', '179 Main Rd, Holden'),
 ('2016-01-01', 'Lights Only ', 'Gloucester ', 'MA ', 'USA ', 42.6159285, -70.6619888, 'Boston Logan International Airport', 'Boston', 'US Army Department', 'US Army Department, 10 Causeway St, Boston')]

In [38]:
import pandas as pd
csv_path = "Datasets/us-airports.csv"
airports_df = pd.read_csv(csv_path)
airports_df = airports_df.drop([0])
airports_df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
1,3632,KLAX,large_airport,Los Angeles International Airport,33.942501,-118.407997,125,NaN,United States,US,...,Los Angeles,1,KLAX,LAX,LAX,https://www.flylax.com/,https://en.wikipedia.org/wiki/Los_Angeles_Inte...,NaN,1335475,2020-04-26T22:37:22+00:00
2,3754,KORD,large_airport,Chicago O'Hare International Airport,41.9786,-87.9048,672,NaN,United States,US,...,Chicago,1,KORD,ORD,ORD,https://www.flychicago.com/ohare/home/pages/de...,https://en.wikipedia.org/wiki/O'Hare_Internati...,"CHI, Orchard Place",1503175,2018-09-16T02:35:35+00:00
3,3622,KJFK,large_airport,John F Kennedy International Airport,40.639801,-73.7789,13,NaN,United States,US,...,New York,1,KJFK,JFK,JFK,https://www.jfkairport.com/,https://en.wikipedia.org/wiki/John_F._Kennedy_...,"Manhattan, New York City, NYC, Idlewild",1052075,2021-04-10T17:02:47+00:00
4,3384,KATL,large_airport,Hartsfield Jackson Atlanta International Airport,33.6367,-84.428101,1026,NaN,United States,US,...,Atlanta,1,KATL,ATL,ATL,http://www.atlanta-airport.com/,https://en.wikipedia.org/wiki/Hartsfield–Jacks...,NaN,2002475,2018-09-19T14:50:01+00:00
5,3878,KSFO,large_airport,San Francisco International Airport,37.61899948120117,-122.375,13,NaN,United States,US,...,San Francisco,1,KSFO,SFO,SFO,http://www.flysfo.com/,https://en.wikipedia.org/wiki/San_Francisco_In...,"QSF, QBA",1112475,2008-06-13T14:30:04+00:00

In [39]:
airports_df_dropped = airports_df.drop(['elevation_ft', 'continent', 'country_name', 'iso_country', 'local_region', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords', 'score', 'last_updated', 'region_name', 'iso_region'], axis = 1)

In [40]:
airports_df_dropped.to_sql('us_airports', connection, index=False)

In [41]:
inspector = inspect(engine)
inspector.get_table_names()

['ufo_airports', 'us_airports']

In [42]:
# Use Inspector to print the column names and types
columns = inspector.get_columns('us_airports')
for c in columns:
    print(c['name'], c["type"])

id TEXT
ident TEXT
type TEXT
name TEXT
latitude_deg TEXT
longitude_deg TEXT
municipality TEXT

In [44]:
engine.execute('SELECT * FROM us_airports LIMIT 10').fetchall()

[('3632', 'KLAX', 'large_airport', 'Los Angeles International Airport', '33.942501', '-118.407997', 'Los Angeles'),
 ('3754', 'KORD', 'large_airport', "Chicago O'Hare International Airport", '41.9786', '-87.9048', 'Chicago'),
 ('3622', 'KJFK', 'large_airport', 'John F Kennedy International Airport', '40.639801', '-73.7789', 'New York'),
 ('3384', 'KATL', 'large_airport', 'Hartsfield Jackson Atlanta International Airport', '33.6367', '-84.428101', 'Atlanta'),
 ('3878', 'KSFO', 'large_airport', 'San Francisco International Airport', '37.61899948120117', '-122.375', 'San Francisco'),
 ('3521', 'KEWR', 'large_airport', 'Newark Liberty International Airport', '40.692501', '-74.168701', 'New York'),
 ('3488', 'KDFW', 'large_airport', 'Dallas Fort Worth International Airport', '32.896801', '-97.038002', 'Dallas-Fort Worth'),
 ('3631', 'KLAS', 'large_airport', 'McCarran International Airport', '36.08010101', '-115.1520004', 'Las Vegas'),
 ('3486', 'KDEN', 'large_airport', 'Denver International Airport', '39.861698150635', '-104.672996521', 'Denver'),
 ('3670', 'KMCO', 'large_airport', 'Orlando International Airport', '28.429399490356445', '-81.30899810791016', 'Orlando')]

In [64]:
csv_path = "Datasets/fireball_clean.csv"
fireball_df = pd.read_csv(csv_path)
fireball_df_dropped = fireball_df.drop(['date'], axis = 1)
fireball_df_dropped = fireball_df_dropped.rename(columns={'Latitude (deg.)': 'Lat', 'Longitude (deg.)': 'Lng'})
fireball_df_dropped.head()

         Date   Lat   Lng
0  2016-01-21 -10.8   0.7
1  2016-01-27 -45.8  53.6
2  2016-02-06 -30.4 -25.5
3  2016-02-19   0.7 -11.6
4  2016-02-21  36.5 -37.2

In [65]:
fireball_df_dropped.to_sql('fireball', connection, index=False)

In [50]:
inspector = inspect(engine)
inspector.get_table_names()

['ufo_airports', 'us_airports', 'fireball']

In [51]:
columns = inspector.get_columns('fireball')
for c in columns:
    print(c['name'], c["type"])

Date TEXT
Latitude (deg.) DOUBLE PRECISION
Longitude (deg.) DOUBLE PRECISION

In [52]:
engine.execute('SELECT * FROM us_airports LIMIT 10').fetchall()

[('3632', 'KLAX', 'large_airport', 'Los Angeles International Airport', '33.942501', '-118.407997', 'Los Angeles'),
 ('3754', 'KORD', 'large_airport', "Chicago O'Hare International Airport", '41.9786', '-87.9048', 'Chicago'),
 ('3622', 'KJFK', 'large_airport', 'John F Kennedy International Airport', '40.639801', '-73.7789', 'New York'),
 ('3384', 'KATL', 'large_airport', 'Hartsfield Jackson Atlanta International Airport', '33.6367', '-84.428101', 'Atlanta'),
 ('3878', 'KSFO', 'large_airport', 'San Francisco International Airport', '37.61899948120117', '-122.375', 'San Francisco'),
 ('3521', 'KEWR', 'large_airport', 'Newark Liberty International Airport', '40.692501', '-74.168701', 'New York'),
 ('3488', 'KDFW', 'large_airport', 'Dallas Fort Worth International Airport', '32.896801', '-97.038002', 'Dallas-Fort Worth'),
 ('3631', 'KLAS', 'large_airport', 'McCarran International Airport', '36.08010101', '-115.1520004', 'Las Vegas'),
 ('3486', 'KDEN', 'large_airport', 'Denver International Airport', '39.861698150635', '-104.672996521', 'Denver'),
 ('3670', 'KMCO', 'large_airport', 'Orlando International Airport', '28.429399490356445', '-81.30899810791016', 'Orlando')]

In [69]:
merged_df = pd.merge(ufo_df_dropped, fireball_df_dropped, how='inner', on='Date')
merged_df

,Date,Shape,Location,State,Country,Lat_x,Lng_x,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address,Lat_y,Lng_y
0,2016-01-21,Orb/Sphere,Burbank,CA,USA,34.180839,-118.308966,Haskell Gamer Company,"Haskell Ave, Burbank",US Army Department,Los Alamitos,-10.8,0.7
1,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
2,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
3,2016-01-21,Disk,Phoenix,AZ,USA,33.448377,-112.074037,Phoenix Mesa,Phoenix,US Army Reserve Herrera Annex,"7334 E Ulysses Ave, Mesa",-10.8,0.7
4,2016-01-21,Orb/Sphere,Skokie,IL,USA,42.032403,-87.741625,O'Hare International Airport,"10000 West O'Hare Avenue, Chicago",A.R.M.Y PVT LTD,"1014 Plum Grove Rd Ste 204, Schaumburg",-10.8,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2016-07-21,Disk,Oceano,CA,USA,35.098865,-120.612393,San Luis Obispo County Regional Airport,"975 Airport Drive, San Luis Obispo",California Army National Guard - SSG Darryl Stott,"6105 Olmeda Ave, Atascadero",7.8,-1.6
242,2016-07-21,Oval,Norwood Young America,MN,USA,44.773573,-93.921635,Flying Cloud Airport (FCM),"10110 Flying Cloud Drive, Eden Prairie",Midwest Military,"16075 State Hwy 13 S, Prior Lake",7.8,-1.6
243,2016-07-21,Lights Only,Camp Verde,AZ,USA,34.563636,-111.854318,Cottonwood Airport,"1001 West Mingus Avenue, Cottonwood",US Navy Recruiting,"2982 N, Park Ave Ste G, Prescott Valley",7.8,-1.6
244,2016-07-21,Triangle,Spanish Fort,AL,USA,30.668516,-87.910853,Mobile Regional Airport,"8400 Airport Boulevard, Mobile",US Army Reserve,"1900 Commanders Dr, Mobile",7.8,-1.6
245,2016-07-21,Lights Only,Buckeye,AZ,USA,33.370320,-112.583777,Phoenix Goodyear Airport,"1658 South Litchfield Road, Goodyear",Military Items,"5623 W Glendale Ave, Glendale",7.8,-1.6

In [70]:
merged_df_dropped = merged_df.dropna()
merged_df_dropped

,Date,Shape,Location,State,Country,Lat_x,Lng_x,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address,Lat_y,Lng_y
0,2016-01-21,Orb/Sphere,Burbank,CA,USA,34.180839,-118.308966,Haskell Gamer Company,"Haskell Ave, Burbank",US Army Department,Los Alamitos,-10.8,0.7
1,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
2,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
3,2016-01-21,Disk,Phoenix,AZ,USA,33.448377,-112.074037,Phoenix Mesa,Phoenix,US Army Reserve Herrera Annex,"7334 E Ulysses Ave, Mesa",-10.8,0.7
4,2016-01-21,Orb/Sphere,Skokie,IL,USA,42.032403,-87.741625,O'Hare International Airport,"10000 West O'Hare Avenue, Chicago",A.R.M.Y PVT LTD,"1014 Plum Grove Rd Ste 204, Schaumburg",-10.8,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2016-07-21,Disk,Oceano,CA,USA,35.098865,-120.612393,San Luis Obispo County Regional Airport,"975 Airport Drive, San Luis Obispo",California Army National Guard - SSG Darryl Stott,"6105 Olmeda Ave, Atascadero",7.8,-1.6
242,2016-07-21,Oval,Norwood Young America,MN,USA,44.773573,-93.921635,Flying Cloud Airport (FCM),"10110 Flying Cloud Drive, Eden Prairie",Midwest Military,"16075 State Hwy 13 S, Prior Lake",7.8,-1.6
243,2016-07-21,Lights Only,Camp Verde,AZ,USA,34.563636,-111.854318,Cottonwood Airport,"1001 West Mingus Avenue, Cottonwood",US Navy Recruiting,"2982 N, Park Ave Ste G, Prescott Valley",7.8,-1.6
244,2016-07-21,Triangle,Spanish Fort,AL,USA,30.668516,-87.910853,Mobile Regional Airport,"8400 Airport Boulevard, Mobile",US Army Reserve,"1900 Commanders Dr, Mobile",7.8,-1.6
245,2016-07-21,Lights Only,Buckeye,AZ,USA,33.370320,-112.583777,Phoenix Goodyear Airport,"1658 South Litchfield Road, Goodyear",Military Items,"5623 W Glendale Ave, Glendale",7.8,-1.6

In [71]:
merged_df_dropped = merged_df_dropped.rename(columns={'Lat_x': 'Lat Sighting', 'Lng_x': 'Lng Sighting', 'Lat_y': 'Lat Fireball', 'Lng_y': 'Lng Fireball'})
merged_df_dropped

,Date,Shape,Location,State,Country,Lat Sighting,Lng Sighting,Closest Airport,Closest Airport Address,Closest Military Base,Closest Military Base Address,Lat Fireball,Lng Fireball
0,2016-01-21,Orb/Sphere,Burbank,CA,USA,34.180839,-118.308966,Haskell Gamer Company,"Haskell Ave, Burbank",US Army Department,Los Alamitos,-10.8,0.7
1,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
2,2016-01-21,Unknown,Asheville,NC,USA,35.595058,-82.551487,Asheville Regional Airport,"61 Terminal Drive #1, Fletcher",US Army Reserve,Asheville,-10.8,0.7
3,2016-01-21,Disk,Phoenix,AZ,USA,33.448377,-112.074037,Phoenix Mesa,Phoenix,US Army Reserve Herrera Annex,"7334 E Ulysses Ave, Mesa",-10.8,0.7
4,2016-01-21,Orb/Sphere,Skokie,IL,USA,42.032403,-87.741625,O'Hare International Airport,"10000 West O'Hare Avenue, Chicago",A.R.M.Y PVT LTD,"1014 Plum Grove Rd Ste 204, Schaumburg",-10.8,0.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,2016-07-21,Disk,Oceano,CA,USA,35.098865,-120.612393,San Luis Obispo County Regional Airport,"975 Airport Drive, San Luis Obispo",California Army National Guard - SSG Darryl Stott,"6105 Olmeda Ave, Atascadero",7.8,-1.6
242,2016-07-21,Oval,Norwood Young America,MN,USA,44.773573,-93.921635,Flying Cloud Airport (FCM),"10110 Flying Cloud Drive, Eden Prairie",Midwest Military,"16075 State Hwy 13 S, Prior Lake",7.8,-1.6
243,2016-07-21,Lights Only,Camp Verde,AZ,USA,34.563636,-111.854318,Cottonwood Airport,"1001 West Mingus Avenue, Cottonwood",US Navy Recruiting,"2982 N, Park Ave Ste G, Prescott Valley",7.8,-1.6
244,2016-07-21,Triangle,Spanish Fort,AL,USA,30.668516,-87.910853,Mobile Regional Airport,"8400 Airport Boulevard, Mobile",US Army Reserve,"1900 Commanders Dr, Mobile",7.8,-1.6
245,2016-07-21,Lights Only,Buckeye,AZ,USA,33.370320,-112.583777,Phoenix Goodyear Airport,"1658 South Litchfield Road, Goodyear",Military Items,"5623 W Glendale Ave, Glendale",7.8,-1.6

In [73]:
merged_df_dropped.to_sql('ufo_fireballs', connection, index=False)

In [74]:
connection.close()