In [315]:
#import dependencies
import pandas as pd
import csv
import datetime

In [316]:
#create filepath
fireball_csv = "Datasets/cneos_fireball_data.csv"
fireball_df = pd.read_csv(fireball_csv)

In [317]:
#inital print
fireball_df['Peak Brightness Date/Time (UT)'] = pd.to_datetime(fireball_df['Peak Brightness Date/Time (UT)'], format="%Y/%m/%d")
#get rid of the time stamp
fireball_df['Peak Brightness Date/Time (UT)'] = fireball_df['Peak Brightness Date/Time (UT)'].dt.date
#fireball_df

In [318]:
fireball_df['Peak Brightness Date/Time (UT)'] = pd.to_datetime(fireball_df['Peak Brightness Date/Time (UT)'], format="%Y/%m/%d")
fireball_df

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2017-07-31,24.7N,118.5W,NaN,NaN,NaN,NaN,NaN,5.800000e+10,0.190
1,2017-07-23,6.6S,69.7W,38.0,17.2,-0.4,8.7,-14.8,3.500000e+10,0.120
2,2017-07-13,23.1N,60.7E,35.0,13.7,-10.0,-6.5,-6.8,7.300000e+10,0.230
3,2017-06-30,34.3S,134.5E,20.0,15.2,10.9,-9.7,4.2,9.400000e+10,0.290
4,2017-06-23,57.0N,143.7E,35.1,24.3,17.7,13.1,-10.3,1.840000e+11,0.520
...,...,...,...,...,...,...,...,...,...,...
714,1993-11-29,26.5N,78.3E,NaN,NaN,NaN,NaN,NaN,2.600000e+10,0.092
715,1993-10-31,51.3N,100.9W,NaN,NaN,NaN,NaN,NaN,4.000000e+10,0.130
716,1991-10-04,78.7N,6.3E,NaN,NaN,NaN,NaN,NaN,5.500000e+11,1.400
717,1990-10-01,7.5N,142.8E,NaN,NaN,NaN,NaN,NaN,2.500000e+12,5.200
718,1988-04-15,4.1S,124.3E,NaN,NaN,NaN,NaN,NaN,7.580000e+12,14.000

In [319]:
fireball_df.dtypes

Peak Brightness Date/Time (UT)         datetime64[ns]
Latitude (deg.)                                object
Longitude (deg.)                               object
Altitude (km)                                 float64
Velocity (km/s)                               float64
vx                                            float64
vy                                            float64
vz                                            float64
Total Radiated Energy (J)                     float64
Calculated Total Impact Energy (kt)           float64
dtype: object

In [320]:
#drop dates that aren't within our 2016 range
#this is code that Rosa created within "ufo_data.ipynb"

initial_date = "2016-01-01"
end_date = "2016-12-31"

fireball_df = fireball_df.loc[(fireball_df['Peak Brightness Date/Time (UT)']>=initial_date) & (fireball_df['Peak Brightness Date/Time (UT)']<= end_date)]
fireball_df = fireball_df.sort_values(by=['Peak Brightness Date/Time (UT)'])
fireball_df = fireball_df.reset_index(drop=True)
fireball_df.head()

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2016-01-21,10.8S,0.7E,42.5,18.1,-3.8,-17.7,-1.2,4.600000e+10,0.15
1,2016-01-27,45.8S,53.6E,37.0,11.5,-10.0,-4.4,3.6,5.000000e+10,0.16
2,2016-02-06,30.4S,25.5W,31.0,15.6,2.7,14.5,5.0,6.853000e+12,13.00
3,2016-02-19,0.7N,11.6W,39.4,15.5,-14.9,-0.5,4.1,2.020000e+11,0.56
4,2016-02-21,36.5N,37.2W,32.0,NaN,NaN,NaN,NaN,3.690000e+11,0.96

In [321]:
#filter for columns we want to keep
fireball_df = fireball_df[['Peak Brightness Date/Time (UT)', 'Latitude (deg.)', 'Longitude (deg.)']]

In [322]:
#sanity check
fireball_df

   Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0                      2016-01-21           10.8S             0.7E
1                      2016-01-27           45.8S            53.6E
2                      2016-02-06           30.4S            25.5W
3                      2016-02-19            0.7N            11.6W
4                      2016-02-21           36.5N            37.2W
5                      2016-02-23           32.3N            67.2E
6                      2016-03-03           48.0S            51.0E
7                      2016-03-16           49.2S             6.3W
8                      2016-04-10           22.0N           149.0E
9                      2016-04-12           38.3N           162.2E
10                     2016-04-18           20.7N            14.5W
11                     2016-04-24            9.8N            42.8W
12                     2016-05-13           26.2N           122.3W
13                     2016-05-16            3.2N             6.6E
14                     2016-05-20           32.8S            15.1E
15                     2016-05-29           10.2N            48.8W
16                     2016-06-02           33.8N           110.9W
17                     2016-06-05           17.4S           138.3E
18                     2016-06-27           15.8N            11.9W
19                     2016-07-05            1.0N            48.6E
20                     2016-07-21            7.8N             1.6W
21                     2016-08-05           46.4N           171.6E
22                     2016-08-11           43.7S            53.8E
23                     2016-08-27           56.9S           162.2E
24                     2016-09-14            3.5S            44.6E
25                     2016-09-22           51.8S           178.5E
26                     2016-10-01           36.2N             6.7E
27                     2016-11-03           39.6S            16.3W
28                     2016-11-24           15.2S            80.3E
29                     2016-11-29           30.6S            93.1W
30                     2016-12-07           34.5S           126.6W
31                     2016-12-23           21.3N            49.3E

In [323]:
fireball_df.dtypes

Peak Brightness Date/Time (UT)    datetime64[ns]
Latitude (deg.)                           object
Longitude (deg.)                          object
dtype: object

In [324]:

#southern_lat = fireball_df.loc[fireball_df['Latitude (deg.)'] == "S", :]

fireball_df[fireball_df['Latitude (deg.)'].str.contains("S", na=False)]

   Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0                      2016-01-21           10.8S             0.7E
1                      2016-01-27           45.8S            53.6E
2                      2016-02-06           30.4S            25.5W
6                      2016-03-03           48.0S            51.0E
7                      2016-03-16           49.2S             6.3W
14                     2016-05-20           32.8S            15.1E
17                     2016-06-05           17.4S           138.3E
22                     2016-08-11           43.7S            53.8E
23                     2016-08-27           56.9S           162.2E
24                     2016-09-14            3.5S            44.6E
25                     2016-09-22           51.8S           178.5E
27                     2016-11-03           39.6S            16.3W
28                     2016-11-24           15.2S            80.3E
29                     2016-11-29           30.6S            93.1W
30                     2016-12-07           34.5S           126.6W

In [325]:
fireball_df.dtypes

Peak Brightness Date/Time (UT)    datetime64[ns]
Latitude (deg.)                           object
Longitude (deg.)                          object
dtype: object

In [326]:
#convert the lat/long to the same format as the other files
# Northern latitudes are positive N = +
#Southern latitudes are negative S = -
#Eastern longitudes are positive E = +
#Western longitudes are negative W = -

#drop the N,E,S,W and make the correct values negative
concat_attempt = "-" + fireball_df['Latitude (deg.)'].str[: -1]
concat_attempt

0     -10.8
1     -45.8
2     -30.4
3      -0.7
4     -36.5
5     -32.3
6     -48.0
7     -49.2
8     -22.0
9     -38.3
10    -20.7
11     -9.8
12    -26.2
13     -3.2
14    -32.8
15    -10.2
16    -33.8
17    -17.4
18    -15.8
19     -1.0
20     -7.8
21    -46.4
22    -43.7
23    -56.9
24     -3.5
25    -51.8
26    -36.2
27    -39.6
28    -15.2
29    -30.6
30    -34.5
31    -21.3
Name: Latitude (deg.), dtype: object

In [327]:
#filter the southern lats
southern_lat_df = fireball_df[fireball_df['Latitude (deg.)'].str.contains("S", na=False)]
southern_lat_df['Latitude (deg.)'] = "-" + southern_lat_df['Latitude (deg.)'].str[: -1]
southern_lat_df

<ipython-input-327-ec2425bf1f0d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southern_lat_df['Latitude (deg.)'] = "-" + southern_lat_df['Latitude (deg.)'].str[: -1]

   Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0                      2016-01-21           -10.8             0.7E
1                      2016-01-27           -45.8            53.6E
2                      2016-02-06           -30.4            25.5W
6                      2016-03-03           -48.0            51.0E
7                      2016-03-16           -49.2             6.3W
14                     2016-05-20           -32.8            15.1E
17                     2016-06-05           -17.4           138.3E
22                     2016-08-11           -43.7            53.8E
23                     2016-08-27           -56.9           162.2E
24                     2016-09-14            -3.5            44.6E
25                     2016-09-22           -51.8           178.5E
27                     2016-11-03           -39.6            16.3W
28                     2016-11-24           -15.2            80.3E
29                     2016-11-29           -30.6            93.1W
30                     2016-12-07           -34.5           126.6W

In [328]:
#update the dataframe with updated lat values
#code modified from:https://stackoverflow.com/questions/43316608/remove-timestamp-from-date-string-in-python/43316706
#I continue to use this code but I'm going to cite this here

fireball_df.set_index('Peak Brightness Date/Time (UT)', inplace=True)
fireball_df.update(southern_lat_df.set_index('Peak Brightness Date/Time (UT)'))
fireball_df.reset_index()

   Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0                      2016-01-21           -10.8             0.7E
1                      2016-01-27           -45.8            53.6E
2                      2016-02-06           -30.4            25.5W
3                      2016-02-19            0.7N            11.6W
4                      2016-02-21           36.5N            37.2W
5                      2016-02-23           32.3N            67.2E
6                      2016-03-03           -48.0            51.0E
7                      2016-03-16           -49.2             6.3W
8                      2016-04-10           22.0N           149.0E
9                      2016-04-12           38.3N           162.2E
10                     2016-04-18           20.7N            14.5W
11                     2016-04-24            9.8N            42.8W
12                     2016-05-13           26.2N           122.3W
13                     2016-05-16            3.2N             6.6E
14                     2016-05-20           -32.8            15.1E
15                     2016-05-29           10.2N            48.8W
16                     2016-06-02           33.8N           110.9W
17                     2016-06-05           -17.4           138.3E
18                     2016-06-27           15.8N            11.9W
19                     2016-07-05            1.0N            48.6E
20                     2016-07-21            7.8N             1.6W
21                     2016-08-05           46.4N           171.6E
22                     2016-08-11           -43.7            53.8E
23                     2016-08-27           -56.9           162.2E
24                     2016-09-14            -3.5            44.6E
25                     2016-09-22           -51.8           178.5E
26                     2016-10-01           36.2N             6.7E
27                     2016-11-03           -39.6            16.3W
28                     2016-11-24           -15.2            80.3E
29                     2016-11-29           -30.6            93.1W
30                     2016-12-07           -34.5           126.6W
31                     2016-12-23           21.3N            49.3E

In [329]:
#filter the Western Longitudes
longitude_df = fireball_df[fireball_df['Longitude (deg.)'].str.contains("W", na=False)]
longitude_df['Longitude (deg.)'] = "-" + longitude_df['Longitude (deg.)'].str[: -1]
longitude_df

<ipython-input-329-6062add9dc00>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  longitude_df['Longitude (deg.)'] = "-" + longitude_df['Longitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-02-06                               -30.4            -25.5
2016-02-19                                0.7N            -11.6
2016-02-21                               36.5N            -37.2
2016-03-16                               -49.2             -6.3
2016-04-18                               20.7N            -14.5
2016-04-24                                9.8N            -42.8
2016-05-13                               26.2N           -122.3
2016-05-29                               10.2N            -48.8
2016-06-02                               33.8N           -110.9
2016-06-27                               15.8N            -11.9
2016-07-21                                7.8N             -1.6
2016-11-03                               -39.6            -16.3
2016-11-29                               -30.6            -93.1
2016-12-07                               -34.5           -126.6

In [330]:
#update with updated long values
fireball_df.update(longitude_df['Longitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8             0.7E
2016-01-27                               -45.8            53.6E
2016-02-06                               -30.4            -25.5
2016-02-19                                0.7N            -11.6
2016-02-21                               36.5N            -37.2
2016-02-23                               32.3N            67.2E
2016-03-03                               -48.0            51.0E
2016-03-16                               -49.2             -6.3
2016-04-10                               22.0N           149.0E
2016-04-12                               38.3N           162.2E
2016-04-18                               20.7N            -14.5
2016-04-24                                9.8N            -42.8
2016-05-13                               26.2N           -122.3
2016-05-16                                3.2N             6.6E
2016-05-20                               -32.8            15.1E
2016-05-29                               10.2N            -48.8
2016-06-02                               33.8N           -110.9
2016-06-05                               -17.4           138.3E
2016-06-27                               15.8N            -11.9
2016-07-05                                1.0N            48.6E
2016-07-21                                7.8N             -1.6
2016-08-05                               46.4N           171.6E
2016-08-11                               -43.7            53.8E
2016-08-27                               -56.9           162.2E
2016-09-14                                -3.5            44.6E
2016-09-22                               -51.8           178.5E
2016-10-01                               36.2N             6.7E
2016-11-03                               -39.6            -16.3
2016-11-24                               -15.2            80.3E
2016-11-29                               -30.6            -93.1
2016-12-07                               -34.5           -126.6
2016-12-23                               21.3N            49.3E

In [331]:
#filter the northern lats to remove the north
northern_lat_df = fireball_df[fireball_df['Latitude (deg.)'].str.contains("N", na=False)]
northern_lat_df['Latitude (deg.)'] = northern_lat_df['Latitude (deg.)'].str[: -1]
northern_lat_df

<ipython-input-331-9b9f3087173c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  northern_lat_df['Latitude (deg.)'] = northern_lat_df['Latitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-02-19                                 0.7            -11.6
2016-02-21                                36.5            -37.2
2016-02-23                                32.3            67.2E
2016-04-10                                22.0           149.0E
2016-04-12                                38.3           162.2E
2016-04-18                                20.7            -14.5
2016-04-24                                 9.8            -42.8
2016-05-13                                26.2           -122.3
2016-05-16                                 3.2             6.6E
2016-05-29                                10.2            -48.8
2016-06-02                                33.8           -110.9
2016-06-27                                15.8            -11.9
2016-07-05                                 1.0            48.6E
2016-07-21                                 7.8             -1.6
2016-08-05                                46.4           171.6E
2016-10-01                                36.2             6.7E
2016-12-23                                21.3            49.3E

In [332]:
#update fireball df with updated lat values
fireball_df.update(northern_lat_df['Latitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8             0.7E
2016-01-27                               -45.8            53.6E
2016-02-06                               -30.4            -25.5
2016-02-19                                 0.7            -11.6
2016-02-21                                36.5            -37.2
2016-02-23                                32.3            67.2E
2016-03-03                               -48.0            51.0E
2016-03-16                               -49.2             -6.3
2016-04-10                                22.0           149.0E
2016-04-12                                38.3           162.2E
2016-04-18                                20.7            -14.5
2016-04-24                                 9.8            -42.8
2016-05-13                                26.2           -122.3
2016-05-16                                 3.2             6.6E
2016-05-20                               -32.8            15.1E
2016-05-29                                10.2            -48.8
2016-06-02                                33.8           -110.9
2016-06-05                               -17.4           138.3E
2016-06-27                                15.8            -11.9
2016-07-05                                 1.0            48.6E
2016-07-21                                 7.8             -1.6
2016-08-05                                46.4           171.6E
2016-08-11                               -43.7            53.8E
2016-08-27                               -56.9           162.2E
2016-09-14                                -3.5            44.6E
2016-09-22                               -51.8           178.5E
2016-10-01                                36.2             6.7E
2016-11-03                               -39.6            -16.3
2016-11-24                               -15.2            80.3E
2016-11-29                               -30.6            -93.1
2016-12-07                               -34.5           -126.6
2016-12-23                                21.3            49.3E

In [333]:
#filter the Eastern Longitudes
eastern_longitude = fireball_df[fireball_df['Longitude (deg.)'].str.contains("E", na=False)]
eastern_longitude['Longitude (deg.)'] = eastern_longitude['Longitude (deg.)'].str[: -1]
eastern_longitude

<ipython-input-333-ed1f437a96d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eastern_longitude['Longitude (deg.)'] = eastern_longitude['Longitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8              0.7
2016-01-27                               -45.8             53.6
2016-02-23                                32.3             67.2
2016-03-03                               -48.0             51.0
2016-04-10                                22.0            149.0
2016-04-12                                38.3            162.2
2016-05-16                                 3.2              6.6
2016-05-20                               -32.8             15.1
2016-06-05                               -17.4            138.3
2016-07-05                                 1.0             48.6
2016-08-05                                46.4            171.6
2016-08-11                               -43.7             53.8
2016-08-27                               -56.9            162.2
2016-09-14                                -3.5             44.6
2016-09-22                               -51.8            178.5
2016-10-01                                36.2              6.7
2016-11-24                               -15.2             80.3
2016-12-23                                21.3             49.3

In [334]:
#update fireball df with updated long values
fireball_df.update(eastern_longitude['Longitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8              0.7
2016-01-27                               -45.8             53.6
2016-02-06                               -30.4            -25.5
2016-02-19                                 0.7            -11.6
2016-02-21                                36.5            -37.2
2016-02-23                                32.3             67.2
2016-03-03                               -48.0             51.0
2016-03-16                               -49.2             -6.3
2016-04-10                                22.0            149.0
2016-04-12                                38.3            162.2
2016-04-18                                20.7            -14.5
2016-04-24                                 9.8            -42.8
2016-05-13                                26.2           -122.3
2016-05-16                                 3.2              6.6
2016-05-20                               -32.8             15.1
2016-05-29                                10.2            -48.8
2016-06-02                                33.8           -110.9
2016-06-05                               -17.4            138.3
2016-06-27                                15.8            -11.9
2016-07-05                                 1.0             48.6
2016-07-21                                 7.8             -1.6
2016-08-05                                46.4            171.6
2016-08-11                               -43.7             53.8
2016-08-27                               -56.9            162.2
2016-09-14                                -3.5             44.6
2016-09-22                               -51.8            178.5
2016-10-01                                36.2              6.7
2016-11-03                               -39.6            -16.3
2016-11-24                               -15.2             80.3
2016-11-29                               -30.6            -93.1
2016-12-07                               -34.5           -126.6
2016-12-23                                21.3             49.3

In [335]:
#fireball_df_rename = fireball_df.rename(columns= {index: 'Date'})
#fireball_df_rename

In [336]:
fireball_df['date'] = fireball_df.index
fireball_df

                               Latitude (deg.) Longitude (deg.)       date
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8              0.7 2016-01-21
2016-01-27                               -45.8             53.6 2016-01-27
2016-02-06                               -30.4            -25.5 2016-02-06
2016-02-19                                 0.7            -11.6 2016-02-19
2016-02-21                                36.5            -37.2 2016-02-21
2016-02-23                                32.3             67.2 2016-02-23
2016-03-03                               -48.0             51.0 2016-03-03
2016-03-16                               -49.2             -6.3 2016-03-16
2016-04-10                                22.0            149.0 2016-04-10
2016-04-12                                38.3            162.2 2016-04-12
2016-04-18                                20.7            -14.5 2016-04-18
2016-04-24                                 9.8            -42.8 2016-04-24
2016-05-13                                26.2           -122.3 2016-05-13
2016-05-16                                 3.2              6.6 2016-05-16
2016-05-20                               -32.8             15.1 2016-05-20
2016-05-29                                10.2            -48.8 2016-05-29
2016-06-02                                33.8           -110.9 2016-06-02
2016-06-05                               -17.4            138.3 2016-06-05
2016-06-27                                15.8            -11.9 2016-06-27
2016-07-05                                 1.0             48.6 2016-07-05
2016-07-21                                 7.8             -1.6 2016-07-21
2016-08-05                                46.4            171.6 2016-08-05
2016-08-11                               -43.7             53.8 2016-08-11
2016-08-27                               -56.9            162.2 2016-08-27
2016-09-14                                -3.5             44.6 2016-09-14
2016-09-22                               -51.8            178.5 2016-09-22
2016-10-01                                36.2              6.7 2016-10-01
2016-11-03                               -39.6            -16.3 2016-11-03
2016-11-24                               -15.2             80.3 2016-11-24
2016-11-29                               -30.6            -93.1 2016-11-29
2016-12-07                               -34.5           -126.6 2016-12-07
2016-12-23                                21.3             49.3 2016-12-23

In [337]:
fireball_df.reset_index()
fireball_df

                               Latitude (deg.) Longitude (deg.)       date
Peak Brightness Date/Time (UT)
2016-01-21                               -10.8              0.7 2016-01-21
2016-01-27                               -45.8             53.6 2016-01-27
2016-02-06                               -30.4            -25.5 2016-02-06
2016-02-19                                 0.7            -11.6 2016-02-19
2016-02-21                                36.5            -37.2 2016-02-21
2016-02-23                                32.3             67.2 2016-02-23
2016-03-03                               -48.0             51.0 2016-03-03
2016-03-16                               -49.2             -6.3 2016-03-16
2016-04-10                                22.0            149.0 2016-04-10
2016-04-12                                38.3            162.2 2016-04-12
2016-04-18                                20.7            -14.5 2016-04-18
2016-04-24                                 9.8            -42.8 2016-04-24
2016-05-13                                26.2           -122.3 2016-05-13
2016-05-16                                 3.2              6.6 2016-05-16
2016-05-20                               -32.8             15.1 2016-05-20
2016-05-29                                10.2            -48.8 2016-05-29
2016-06-02                                33.8           -110.9 2016-06-02
2016-06-05                               -17.4            138.3 2016-06-05
2016-06-27                                15.8            -11.9 2016-06-27
2016-07-05                                 1.0             48.6 2016-07-05
2016-07-21                                 7.8             -1.6 2016-07-21
2016-08-05                                46.4            171.6 2016-08-05
2016-08-11                               -43.7             53.8 2016-08-11
2016-08-27                               -56.9            162.2 2016-08-27
2016-09-14                                -3.5             44.6 2016-09-14
2016-09-22                               -51.8            178.5 2016-09-22
2016-10-01                                36.2              6.7 2016-10-01
2016-11-03                               -39.6            -16.3 2016-11-03
2016-11-24                               -15.2             80.3 2016-11-24
2016-11-29                               -30.6            -93.1 2016-11-29
2016-12-07                               -34.5           -126.6 2016-12-07
2016-12-23                                21.3             49.3 2016-12-23

In [338]:
fireball_df.index.names = ['Date']
fireball_df

           Latitude (deg.) Longitude (deg.)       date
Date
2016-01-21           -10.8              0.7 2016-01-21
2016-01-27           -45.8             53.6 2016-01-27
2016-02-06           -30.4            -25.5 2016-02-06
2016-02-19             0.7            -11.6 2016-02-19
2016-02-21            36.5            -37.2 2016-02-21
2016-02-23            32.3             67.2 2016-02-23
2016-03-03           -48.0             51.0 2016-03-03
2016-03-16           -49.2             -6.3 2016-03-16
2016-04-10            22.0            149.0 2016-04-10
2016-04-12            38.3            162.2 2016-04-12
2016-04-18            20.7            -14.5 2016-04-18
2016-04-24             9.8            -42.8 2016-04-24
2016-05-13            26.2           -122.3 2016-05-13
2016-05-16             3.2              6.6 2016-05-16
2016-05-20           -32.8             15.1 2016-05-20
2016-05-29            10.2            -48.8 2016-05-29
2016-06-02            33.8           -110.9 2016-06-02
2016-06-05           -17.4            138.3 2016-06-05
2016-06-27            15.8            -11.9 2016-06-27
2016-07-05             1.0             48.6 2016-07-05
2016-07-21             7.8             -1.6 2016-07-21
2016-08-05            46.4            171.6 2016-08-05
2016-08-11           -43.7             53.8 2016-08-11
2016-08-27           -56.9            162.2 2016-08-27
2016-09-14            -3.5             44.6 2016-09-14
2016-09-22           -51.8            178.5 2016-09-22
2016-10-01            36.2              6.7 2016-10-01
2016-11-03           -39.6            -16.3 2016-11-03
2016-11-24           -15.2             80.3 2016-11-24
2016-11-29           -30.6            -93.1 2016-11-29
2016-12-07           -34.5           -126.6 2016-12-07
2016-12-23            21.3             49.3 2016-12-23

In [339]:
#export to csv
fireball_df.to_csv('fireball_clean.csv')