In [2]:
import pandas as pd
import numpy as np
import requests
import json

In [3]:
# Import API key
from api_keys import g_key
if g_key == "YOUR KEY HERE!":
    import sys
    sys.path.append(r"/Users/rosaicelaroman/Desktop/Data_BootCamp/APIs/config_keys/")
    from api_keys_v2 import g_key

In [4]:
csv_path = "Datasets/ufo_location_shape.csv"
ufo_df = pd.read_csv(csv_path)
ufo_df.head()

,Event.Date,Shape,Location,State,Country,Source,USA,Unnamed: 7
0,6/18/2016,Boomerang/V-Shaped,South Barrington,IL,USA,NUFORC,1,NaN
1,6/17/2016,Boomerang/V-Shaped,Kuna,ID,USA,NUFORC,1,NaN
2,5/30/2016,Boomerang/V-Shaped,Lake Stevens,WA,USA,NUFORC,1,NaN
3,5/27/2016,Boomerang/V-Shaped,Gerber,CA,USA,NUFORC,1,NaN
4,5/24/2016,Boomerang/V-Shaped,Camdenton,MO,USA,NUFORC,1,NaN

In [5]:
ufo_df.shape

(3646, 8)

In [6]:
countries = ufo_df['Country'].unique()
print(countries)

['USA ' 'Canada ' 'India ' 'Norway ' 'PA ' 'Wales/UK ' 'China '
 'England/UK ' nan 'Philippines ' 'Iran ' 'Unknown ' 'Mauritius '
 'Australia ' 'Dominican Republic ' 'Gibralter ' 'New Zealand '
 'South Africa ' 'Kenya ' 'Israel ' 'Japan ' 'Mexico ' 'Netherlands '
 'Puerto Rico ' 'MO ' 'OH ' 'Lithuania ' 'Indonesia ' 'Portugal '
 'Ireland ' 'Thailand ' 'Brazil ' 'Chile ' 'CO ' 'Cambodia ' 'Pakistan '
 'The Bahamas (Bermuda triangle) ' 'Sweden ' 'NC ' 'NY ' 'OR ' 'Finland '
 'Turkey ' 'Italy ' 'Croatia ' 'KS ' 'WI ' 'NV ' 'Argentina ' 'Spain '
 'South Australia ' 'Germany ' 'Tonga ']

In [7]:
ufo_df_country = ufo_df.loc[(ufo_df['Country']=='USA ')]
ufo_df_country.head()

,Event.Date,Shape,Location,State,Country,Source,USA,Unnamed: 7
0,6/18/2016,Boomerang/V-Shaped,South Barrington,IL,USA,NUFORC,1,NaN
1,6/17/2016,Boomerang/V-Shaped,Kuna,ID,USA,NUFORC,1,NaN
2,5/30/2016,Boomerang/V-Shaped,Lake Stevens,WA,USA,NUFORC,1,NaN
3,5/27/2016,Boomerang/V-Shaped,Gerber,CA,USA,NUFORC,1,NaN
4,5/24/2016,Boomerang/V-Shaped,Camdenton,MO,USA,NUFORC,1,NaN

In [8]:
ufo_df_country.shape

(3427, 8)

In [9]:
ufo_df_dropped = ufo_df_country.drop(['Unnamed: 7', 'USA', 'Source'], axis = 1)
ufo_df_dropped = ufo_df_dropped.rename(columns={'Event.Date': 'Date'})

In [10]:
ufo_df_dropped.shape

(3427, 5)

In [11]:
ufo_df_cleaned = ufo_df_dropped.dropna()
ufo_df_cleaned.head()

        Date                Shape           Location State Country
0  6/18/2016  Boomerang/V-Shaped   South Barrington    IL     USA
1  6/17/2016  Boomerang/V-Shaped               Kuna    ID     USA
2  5/30/2016  Boomerang/V-Shaped       Lake Stevens    WA     USA
3  5/27/2016  Boomerang/V-Shaped             Gerber    CA     USA
4  5/24/2016  Boomerang/V-Shaped          Camdenton    MO     USA

In [12]:
ufo_df_cleaned.shape

(3414, 5)

In [13]:
initial_date = "1/1/2016"
end_date = "12/31/2016"
ufo_df_date = ufo_df_cleaned.loc[(ufo_df_cleaned['Date']>=initial_date) & (ufo_df_cleaned['Date']<= end_date)]
ufo_df_date_sorted = ufo_df_date.sort_values(by=['Date'])
ufo_df_date_sorted = ufo_df_date_sorted.reset_index(drop=True)
ufo_df_date_sorted.head()

       Date         Shape       Location State Country
0  1/1/2016   Orb/Sphere      Covington    WA     USA
1  1/1/2016  Lights Only         Smyrna    GA     USA
2  1/1/2016  Lights Only     Gillsville    GA     USA
3  1/1/2016  Lights Only      Elk Grove    CA     USA
4  1/1/2016  Lights Only   Crystal City    MO     USA

In [14]:
ufo_df_date_sorted.shape

(804, 5)

In [15]:
ufo_df_date_sorted['Lat']=""
ufo_df_date_sorted['Lng']=""
ufo_df_date_sorted.head()

       Date         Shape       Location State Country Lat Lng
0  1/1/2016   Orb/Sphere      Covington    WA     USA
1  1/1/2016  Lights Only         Smyrna    GA     USA
2  1/1/2016  Lights Only     Gillsville    GA     USA
3  1/1/2016  Lights Only      Elk Grove    CA     USA
4  1/1/2016  Lights Only   Crystal City    MO     USA

In [16]:
locations = ufo_df_date_sorted['Location'].unique()
locations

array(['Covington ', 'Smyrna ', 'Gillsville ', 'Elk Grove ',
       'Crystal City ', 'Las Vegas ', 'Bayville ', 'Glendale ',
       'Florence ', 'Anchorage ', 'Richland ', 'Joppatowne ', 'Medford ',
       'Amelia Island ', 'Corinth ', 'Colville ', 'Salt Lake City ',
       'Kennewick ', 'Chillicothe ', 'Malabar ', 'Phoenix ',
       'Gloucester ', 'Auburn ', 'Arnold ', 'Matthews ', 'Thermopolis ',
       'Sacramento ', 'Hereford Township ', 'Fort Pierce ', 'Boise ',
       'Swisher ', 'Fenton ', 'Rancho Cucamonga ', 'Vernon ', 'Newburgh ',
       'Sodaville ', 'Longmont ', 'Titusville ', 'Hollywood ', 'Chicago ',
       'Sac City ', 'Kissimmee ', 'Fortuna ', 'Branchland ', 'Aptos ',
       'Pinson ', 'Satellite Beach ', 'Portland ', 'Spokane Valley ',
       'Irmo ', 'Ontario ', 'Yelm ', 'Tacoma ', 'Cary ', 'Bremerton ',
       'Fuquay Varina ', 'French Creek ', 'Downey ', 'Snohomish ',
       'Denver ', 'Four Oaks ', 'Ocala ', 'Cooperstown ',
       'North Myrtle Beach ', 'Natchitoches ', 'Biloxi ', 'Fountain ',
       'Snellville ', 'Raleigh ', 'Denton ', 'Nashville ', 'Rifton ',
       'St. Louis ', 'Wrightsville ', 'Gilbert ', 'Dixmont ', 'Ivanhoe ',
       'Kingsburg ', 'Lake Havasu City ', 'Lafayette ', 'Wichita ',
       'Lafayette (14 mi. E of) ', 'Houston ', 'Joplin ', 'Columbia ',
       'Elk Grove Village ', 'Knoxville ', 'Columbus ',
       'Colorado Springs (east of) ', 'Camp Pendleton ',
       'Black River Falls ', 'Albuquerque ', 'Maumelle ', 'Danville ',
       'Metairie ', 'Seattle ', 'Conway ', 'Longview ', 'Cedar Falls ',
       'Sutherlin ', 'Woodland Township ', 'Winter Park ', 'Peoria ',
       'Mecca ', 'Sanger ', 'Dayton ', 'Antioch ', 'Hendersonville ',
       'Mount Airy ', 'Marion ', 'Philadelphia ', 'North Hollywood ',
       'Santa Clarita ', 'Bradenton ', 'Jerome ', 'Burbank ',
       'I-495 North (driving on) ', 'Bakersfield ', 'Hawthorne ', 'Road ',
       'Round Rock ', 'Carson City ', 'Scranton ', 'Austin ', 'Morganza ',
       'Liverpool ', 'Warren ', 'Bend ', 'Manassas Park ', 'Roseburg ',
       'Florham Park ', 'Neskowin ', 'Denvile ', 'Mill Spring ',
       'Deerfield Beach ', 'Woodside ', 'Greensburg ',
       'Amery/Star Prairie ', 'San Francisco ', 'Accord ',
       'New York City (Manhattan) ', 'Angleton ', 'Ponte Vedra ',
       'Mineola ', 'Joppatown ', 'Panama City Beach ', 'Laurel ',
       'Coleman ', 'Hillsboro ', 'Effort ', 'Scottsdale ', 'Manheim ',
       'Goodyear ', 'Heber City ', 'Clio ', 'Camby/Indianapolis ',
       'Ivor ', 'Little Chute ', 'Foley ', 'Cedar Springs ', 'Millville ',
       'Middleburg Heights ', 'Dickinson ', 'Billings ', 'Meadville ',
       'Spring Hill ', 'Imperial Beach ', 'Meridian ', 'El Cajon ',
       'Cape Coral ', 'Spurger ', 'Aurora ', 'Langhorne ',
       'Oklahoma City ', 'Gallatin ', 'Norwich ', 'Lighthouse Point ',
       'Ashland ', 'Annapolis ', 'Pound Ridge ', 'Black Canyon City ',
       'Scarborough ', 'Whitmire ', 'Doraville ', 'Pittsburgh ', 'Salem ',
       'St. Paul ', 'Cornelius ', 'Goose Creek ', 'Tempe ', 'Levittown ',
       'Montpelier ', 'Barre Town ', 'Norwich/Thetford ', 'Sunnyside ',
       'West Danville ', 'North Canton ', 'Clayton ', 'Asheville ',
       'Santa Maria ', 'Maywood ', 'Skokie ', 'Durham ', 'Appleton ',
       'Hoquiam ', 'Centreville ', 'Middle Village ', 'Antinito ',
       'Council Grove ', 'Quartzsite ', 'Pasadena ', 'Honolulu ',
       'Concord ', 'Franklin ', 'Orting ', 'Azusa ', 'Yuma ', 'Stafford ',
       'Niles ', 'Huntington ', 'Santa Fe ', 'Spring ', 'Long Beach ',
       'Lubbock ', 'Irving ', 'Virginia Beach ', 'Henderson ',
       'Lakveville ', 'Damascus ', 'Bolton ', 'Sterling ', 'Loveland ',
       'Montevallo ', 'Huntingdon ', 'Whitestone ', 'Reno ',
       'Lake Elsinore ', 'Douglas ', 'Ridgecrest ',
       'Washington, DC (west side) ', 'Buckeye ', 'Westport ',
       'New Braunfels ', 'Ten Mile to Knox ', 'Manchester ', 'Seneca ',
       'Boynton Beach ', 'San Diego ', 'Moncks Corner ',
       'Route 66 West (Exit 50) ', 'Rohnert Park ', 'Queen Creek ',
       'Odessa ', 'Hudsonville ', 'Camdenton ', 'Arden ', 'East Aurora ',
       'Ocean & Monmouth Counties ', 'Falmouth ', 'Keaau ',
       'Shippensburg ', 'Phoenix (Fort McDowell) ', 'Tome ', 'Amsterdam ',
       'Rowlett ', 'Uniontown ', 'Tempe/Phoenix ', 'Forked River ',
       'La Luz ', 'Waukesha ', 'Absecon (most reports) ', 'Ayer/Harvard ',
       'Littleton ', 'Waukee ', 'Rochester Hills ', 'Umatilla ',
       'New Orleans ', 'Trenton ', 'Orono ', 'Springfield ', 'Pontiac ',
       'Baltimore (West Hampden) ', 'Fairbanks ', 'Murfreesboro ',
       'Helenville ', 'Taos ', 'Barrington ', 'Indio ', 'Cerritos ',
       'Jacksonville ', 'Childress ', 'Easton ', 'Forest Acres ',
       'Taylors ', 'Delray Beach ', 'Wenonah ', 'Stroudsburg ',
       'Woodbury ', 'Castalian Springs ', 'Southington ', 'Newtown ',
       'MORRISTOWN ', 'Broomfield ', 'Santee ', 'Chula Vista ',
       'Milford ', 'Hagerstown ', 'Ravenna ', 'Middleburg ', 'Naalehu ',
       'Rockville ', 'Greenville ', 'Hopkins ', 'La Plata ', 'Pennsburg ',
       'Parkersburg ', 'Hillsville ', 'Coopersburg ', 'Clark ', 'Rover ',
       'Williamsburg ', 'West Suffield ', 'Port Charlotte ', 'Ten mile ',
       'Baltimore ', 'Carmel ', 'Big Lake ', 'Stanton ', 'Allentown ',
       'Hampton Bays ', 'Sandpoint ', 'North Shore ', 'Warrensburg ',
       'Sarasota ', 'Twin Lake ', 'Orangevale ', 'Stanardsville ',
       'New Blaine ', 'Roberts County ', 'Eureka ', 'Burien ',
       'Des Moines ', 'Viking Mountain ', 'Suffolk ', 'Grand Terrace ',
       'Ventura ', 'Citrus Heights ', 'Frederick ', 'Lake Wylie ',
       'Oxford ', 'State College ', 'Blue Hill ', 'Eliot ',
       'Maurice River TWP ', 'Jackson ', 'Seymour ', 'Chapin ',
       'Windsor Heights ', 'Vassar ', 'Arlington/Marysville ',
       'Carolina Beach ', 'Goliad ', 'North Riverside ', 'Bow ',
       'Jenkins ', 'Putnam ', 'Phenix city ', 'Holden ', 'Oswego ',
       'West Hartford ', 'Hubertus ', 'Waianae ', 'Livingston ',
       'Clanton ', 'Brodheadsville ', 'New York City (Brooklyn) ',
       'Unity ', 'Candler ', 'Susanville ', 'Surprise ', 'Birmingham ',
       'Issaquah ', 'Royal Oak ', 'Corona del Mar ', 'Hampshire ',
       'Hutchinson ', 'Pueblo ', 'Bainbridge Island ', 'New Washington ',
       'Duluth ', 'Union ', 'Kettering ', 'Buffalo ', 'Pascagoula ',
       'Big Sandy ', 'Beverly Shores ', 'Mettawa ', 'Howland ',
       'Augusta ', 'Indianapolis ', 'Ashville ', 'Windsor ',
       'Golden Valley ', 'Slidell ', 'Copperopolis ', 'Davidsonville ',
       'Daly City ', 'Altus ', 'Dallas ', 'Varnville ', 'Lexington Park ',
       'Mount Vernon ', 'Quaker City ', 'Prior Lake ', 'Spanaway ',
       'Fridley ', 'Arizona?? ', 'Little Torch Key ', 'LaCrosse ',
       'Cedar Lake (south of) ', 'Canadian ', 'New Kensington ',
       'Poplar ', 'Exeter ', 'Anaheim ', 'Fort Wayne ', 'Ft. Sill ',
       'Warwick ', 'Taylor ', 'Ogden ', 'Shiner ', 'Rochester ',
       'rockford ', 'Tallahassee ', 'Washington ', 'Naugatuck ',
       'Palmetto Bay ', 'Ft. Myers Beach ', 'Wolf Creek ', 'Middletown ',
       'Sonoma ', 'Torrance ', 'Continental Divide ', 'Paris ',
       'Paris-Winchester ', 'Brownstown ', 'Apple Valley ',
       'East Irondequoit ', 'Scipio ', 'Camano Island ', 'Leesville ',
       'Brookfield ', 'Bluff City ', 'Parker ', 'Rapid City ',
       'Aliso Viejo ', 'Fogelsville ', 'Madison ', 'Elk City ',
       'San Jose ', 'Milpitas (Morgan Hill?) ', 'Las Vegas in desert ',
       'Bellingham ', 'Ewing ', 'Millsboro ', 'Larned ', 'Camden ',
       'Otay Mesa ', 'Michigan City ', 'Chandler ', 'Bandera ',
       'Cumming ', 'Lee ', 'Baton Rouge ', 'Milwaukie ', 'Port Isabel ',
       'Victoria ', 'Arabi ', 'Pope ', 'Petaluma ', 'Friendship ',
       'North Minneapolis ', 'Beaverton ', 'Kingsland ',
       'Colorado Springs ', 'Belleville ', 'Elizabeth City ', 'Plymouth ',
       'Derry ', 'Whitesburg ', 'Ponte Vedra Beach ', 'Orlando ',
       'St. Petersburg ', 'McComb ', 'Sanford ', 'Gorham ', 'Bear ',
       'Surrey ', 'Berwyn ', 'Schnecksville ', 'Middleboro ',
       'Attelboro ', 'York Valley ', 'Angola ', 'Fairfield ', 'Troutman ',
       'Costa Mesa ', 'Dunedin ', 'Lakewood ', 'Vacaville ', 'Elizabeth ',
       'Desert Hot Springs ', 'Sky Valley ', 'Bullhead City ', 'Goleta ',
       'Napa ', 'Boulder City ', 'Huntington Beach ', 'Palm Springs ',
       'Menifee ', 'Moorpark ', 'Harlansburgh ', 'San Tan Valley ',
       'Cedar City ', 'Sabine Pass ', 'Weymouth ', 'Richardson ',
       'Palm Bay ', 'Modesto ', 'Toluca Lake ', 'St. Charles ',
       'Grafton ', 'Mill Run ', 'Tucson ', 'Cranston ', 'Wind Lake ',
       'Tomahawk ', 'Omaha ', 'Hastings on Hudson ', 'Shelbyville ',
       'Weaverville ', 'Brush Prairie ', 'Cicero ', 'Avondale ',
       'Draper ', 'Oceanside ', 'Richmond ', 'Revere ', 'Renton ',
       'Mesquite ', 'Sligo ', 'Kalispell ', 'Plum ', 'Gainesville ',
       'Los Angeles ', 'Glendora ', 'Norwalk ', 'Upton/Millbury ',
       'Garden City ', 'Londonderry ', 'University Place ', 'Blaine ',
       'Ellington ', 'Easley ', 'Palm Beach Gardens ', 'Greene ',
       'Campobello ', 'DeLuz/Temecula ', 'Elmhurst ', 'Hinesville ',
       'Hamden ', "Benson/McGee's Crossroads ", 'Redmond ', 'Eagan ',
       'Iowa City ', 'Gill ', 'Milpitas ', 'LAS VEGAS ',
       'Glendale (La Crecenta) ', 'Owensboro ', 'Evansville ',
       'Tehachapi ', 'Maryville ', 'Hilldale ', 'Walnut Creek ',
       'Palmetto ', 'Cottonwood ', 'Brandon ', 'Cullman ', 'Woodinville ',
       "Lee's Summit ", 'Olympia ', 'Cle Elum ', 'Ocean Shores ',
       'Orient ', 'Harpersville ',
       'New Mexico border (driving west on I-40: 20 mi. pa ', 'Moline ',
       'Miami ', 'Ypsilanti ', 'Plainfield ', 'Bellwood (South Titusvi) ',
       'Arbutus ', 'Port Saint Lucie ', 'Saint George ', 'Sequim ',
       'Whitewater ', 'Brookhaven ', 'Wilkes-Barre/Hazleton (between) ',
       'Guyton ', 'Canaan ', 'Eugene ', 'Sandy ', 'Liberty ', 'Monmouth ',
       'Missoula ', 'Gadsden ', 'Selma ', 'Bangor ', 'Post Falls ',
       'Simpsonville ', 'Steamboat Springs ', 'San Ysidro ', 'Clovis ',
       'Avon/Eagle ', 'Bessemer City ', 'Bay City '], dtype=object)

In [17]:
ufo_df_date_sorted['Location'] = ufo_df_date_sorted['Location'].str.replace(r"\(.*\)","")
ufo_df_date_sorted.head()

       Date         Shape       Location State Country Lat Lng
0  1/1/2016   Orb/Sphere      Covington    WA     USA
1  1/1/2016  Lights Only         Smyrna    GA     USA
2  1/1/2016  Lights Only     Gillsville    GA     USA
3  1/1/2016  Lights Only      Elk Grove    CA     USA
4  1/1/2016  Lights Only   Crystal City    MO     USA

In [18]:
locations = ufo_df_date_sorted['Location'].unique()
locations

array(['Covington ', 'Smyrna ', 'Gillsville ', 'Elk Grove ',
       'Crystal City ', 'Las Vegas ', 'Bayville ', 'Glendale ',
       'Florence ', 'Anchorage ', 'Richland ', 'Joppatowne ', 'Medford ',
       'Amelia Island ', 'Corinth ', 'Colville ', 'Salt Lake City ',
       'Kennewick ', 'Chillicothe ', 'Malabar ', 'Phoenix ',
       'Gloucester ', 'Auburn ', 'Arnold ', 'Matthews ', 'Thermopolis ',
       'Sacramento ', 'Hereford Township ', 'Fort Pierce ', 'Boise ',
       'Swisher ', 'Fenton ', 'Rancho Cucamonga ', 'Vernon ', 'Newburgh ',
       'Sodaville ', 'Longmont ', 'Titusville ', 'Hollywood ', 'Chicago ',
       'Sac City ', 'Kissimmee ', 'Fortuna ', 'Branchland ', 'Aptos ',
       'Pinson ', 'Satellite Beach ', 'Portland ', 'Spokane Valley ',
       'Irmo ', 'Ontario ', 'Yelm ', 'Tacoma ', 'Cary ', 'Bremerton ',
       'Fuquay Varina ', 'French Creek ', 'Downey ', 'Snohomish ',
       'Denver ', 'Four Oaks ', 'Ocala ', 'Cooperstown ',
       'North Myrtle Beach ', 'Natchitoches ', 'Biloxi ', 'Fountain ',
       'Snellville ', 'Raleigh ', 'Denton ', 'Nashville ', 'Rifton ',
       'St. Louis ', 'Wrightsville ', 'Gilbert ', 'Dixmont ', 'Ivanhoe ',
       'Kingsburg ', 'Lake Havasu City ', 'Lafayette ', 'Wichita ',
       'Lafayette  ', 'Houston ', 'Joplin ', 'Columbia ',
       'Elk Grove Village ', 'Knoxville ', 'Columbus ',
       'Colorado Springs  ', 'Camp Pendleton ', 'Black River Falls ',
       'Albuquerque ', 'Maumelle ', 'Danville ', 'Metairie ', 'Seattle ',
       'Conway ', 'Longview ', 'Cedar Falls ', 'Sutherlin ',
       'Woodland Township ', 'Winter Park ', 'Peoria ', 'Mecca ',
       'Sanger ', 'Dayton ', 'Antioch ', 'Hendersonville ', 'Mount Airy ',
       'Marion ', 'Philadelphia ', 'North Hollywood ', 'Santa Clarita ',
       'Bradenton ', 'Jerome ', 'Burbank ', 'I-495 North  ',
       'Bakersfield ', 'Hawthorne ', 'Road ', 'Round Rock ',
       'Carson City ', 'Scranton ', 'Austin ', 'Morganza ', 'Liverpool ',
       'Warren ', 'Bend ', 'Manassas Park ', 'Roseburg ', 'Florham Park ',
       'Neskowin ', 'Denvile ', 'Mill Spring ', 'Deerfield Beach ',
       'Woodside ', 'Greensburg ', 'Amery/Star Prairie ',
       'San Francisco ', 'Accord ', 'New York City  ', 'Angleton ',
       'Ponte Vedra ', 'Mineola ', 'Joppatown ', 'Panama City Beach ',
       'Laurel ', 'Coleman ', 'Hillsboro ', 'Effort ', 'Scottsdale ',
       'Manheim ', 'Goodyear ', 'Heber City ', 'Clio ',
       'Camby/Indianapolis ', 'Ivor ', 'Little Chute ', 'Foley ',
       'Cedar Springs ', 'Millville ', 'Middleburg Heights ',
       'Dickinson ', 'Billings ', 'Meadville ', 'Spring Hill ',
       'Imperial Beach ', 'Meridian ', 'El Cajon ', 'Cape Coral ',
       'Spurger ', 'Aurora ', 'Langhorne ', 'Oklahoma City ', 'Gallatin ',
       'Norwich ', 'Lighthouse Point ', 'Ashland ', 'Annapolis ',
       'Pound Ridge ', 'Black Canyon City ', 'Scarborough ', 'Whitmire ',
       'Doraville ', 'Pittsburgh ', 'Salem ', 'St. Paul ', 'Cornelius ',
       'Goose Creek ', 'Tempe ', 'Levittown ', 'Montpelier ',
       'Barre Town ', 'Norwich/Thetford ', 'Sunnyside ', 'West Danville ',
       'North Canton ', 'Clayton ', 'Asheville ', 'Santa Maria ',
       'Maywood ', 'Skokie ', 'Durham ', 'Appleton ', 'Hoquiam ',
       'Centreville ', 'Middle Village ', 'Antinito ', 'Council Grove ',
       'Quartzsite ', 'Pasadena ', 'Honolulu ', 'Concord ', 'Franklin ',
       'Orting ', 'Azusa ', 'Yuma ', 'Stafford ', 'Niles ', 'Huntington ',
       'Santa Fe ', 'Spring ', 'Long Beach ', 'Lubbock ', 'Irving ',
       'Virginia Beach ', 'Henderson ', 'Lakveville ', 'Damascus ',
       'Bolton ', 'Sterling ', 'Loveland ', 'Montevallo ', 'Huntingdon ',
       'Whitestone ', 'Reno ', 'Lake Elsinore ', 'Douglas ',
       'Ridgecrest ', 'Washington, DC  ', 'Buckeye ', 'Westport ',
       'New Braunfels ', 'Ten Mile to Knox ', 'Manchester ', 'Seneca ',
       'Boynton Beach ', 'San Diego ', 'Moncks Corner ',
       'Route 66 West  ', 'Rohnert Park ', 'Queen Creek ', 'Odessa ',
       'Hudsonville ', 'Camdenton ', 'Arden ', 'East Aurora ',
       'Ocean & Monmouth Counties ', 'Falmouth ', 'Keaau ',
       'Shippensburg ', 'Phoenix  ', 'Tome ', 'Amsterdam ', 'Rowlett ',
       'Uniontown ', 'Tempe/Phoenix ', 'Forked River ', 'La Luz ',
       'Waukesha ', 'Absecon  ', 'Ayer/Harvard ', 'Littleton ', 'Waukee ',
       'Rochester Hills ', 'Umatilla ', 'New Orleans ', 'Trenton ',
       'Orono ', 'Springfield ', 'Pontiac ', 'Baltimore  ', 'Fairbanks ',
       'Murfreesboro ', 'Helenville ', 'Taos ', 'Barrington ', 'Indio ',
       'Cerritos ', 'Jacksonville ', 'Childress ', 'Easton ',
       'Forest Acres ', 'Taylors ', 'Delray Beach ', 'Wenonah ',
       'Stroudsburg ', 'Woodbury ', 'Castalian Springs ', 'Southington ',
       'Newtown ', 'MORRISTOWN ', 'Broomfield ', 'Santee ',
       'Chula Vista ', 'Milford ', 'Hagerstown ', 'Ravenna ',
       'Middleburg ', 'Naalehu ', 'Rockville ', 'Greenville ', 'Hopkins ',
       'La Plata ', 'Pennsburg ', 'Parkersburg ', 'Hillsville ',
       'Coopersburg ', 'Clark ', 'Rover ', 'Williamsburg ',
       'West Suffield ', 'Port Charlotte ', 'Ten mile ', 'Baltimore ',
       'Carmel ', 'Big Lake ', 'Stanton ', 'Allentown ', 'Hampton Bays ',
       'Sandpoint ', 'North Shore ', 'Warrensburg ', 'Sarasota ',
       'Twin Lake ', 'Orangevale ', 'Stanardsville ', 'New Blaine ',
       'Roberts County ', 'Eureka ', 'Burien ', 'Des Moines ',
       'Viking Mountain ', 'Suffolk ', 'Grand Terrace ', 'Ventura ',
       'Citrus Heights ', 'Frederick ', 'Lake Wylie ', 'Oxford ',
       'State College ', 'Blue Hill ', 'Eliot ', 'Maurice River TWP ',
       'Jackson ', 'Seymour ', 'Chapin ', 'Windsor Heights ', 'Vassar ',
       'Arlington/Marysville ', 'Carolina Beach ', 'Goliad ',
       'North Riverside ', 'Bow ', 'Jenkins ', 'Putnam ', 'Phenix city ',
       'Holden ', 'Oswego ', 'West Hartford ', 'Hubertus ', 'Waianae ',
       'Livingston ', 'Clanton ', 'Brodheadsville ', 'Unity ', 'Candler ',
       'Susanville ', 'Surprise ', 'Birmingham ', 'Issaquah ',
       'Royal Oak ', 'Corona del Mar ', 'Hampshire ', 'Hutchinson ',
       'Pueblo ', 'Bainbridge Island ', 'New Washington ', 'Duluth ',
       'Union ', 'Kettering ', 'Buffalo ', 'Pascagoula ', 'Big Sandy ',
       'Beverly Shores ', 'Mettawa ', 'Howland ', 'Augusta ',
       'Indianapolis ', 'Ashville ', 'Windsor ', 'Golden Valley ',
       'Slidell ', 'Copperopolis ', 'Davidsonville ', 'Daly City ',
       'Altus ', 'Dallas ', 'Varnville ', 'Lexington Park ',
       'Mount Vernon ', 'Quaker City ', 'Prior Lake ', 'Spanaway ',
       'Fridley ', 'Arizona?? ', 'Little Torch Key ', 'LaCrosse ',
       'Cedar Lake  ', 'Canadian ', 'New Kensington ', 'Poplar ',
       'Exeter ', 'Anaheim ', 'Fort Wayne ', 'Ft. Sill ', 'Warwick ',
       'Taylor ', 'Ogden ', 'Shiner ', 'Rochester ', 'rockford ',
       'Tallahassee ', 'Washington ', 'Naugatuck ', 'Palmetto Bay ',
       'Ft. Myers Beach ', 'Wolf Creek ', 'Middletown ', 'Sonoma ',
       'Torrance ', 'Continental Divide ', 'Paris ', 'Paris-Winchester ',
       'Brownstown ', 'Apple Valley ', 'East Irondequoit ', 'Scipio ',
       'Camano Island ', 'Leesville ', 'Brookfield ', 'Bluff City ',
       'Parker ', 'Rapid City ', 'Aliso Viejo ', 'Fogelsville ',
       'Madison ', 'Elk City ', 'San Jose ', 'Milpitas  ',
       'Las Vegas in desert ', 'Bellingham ', 'Ewing ', 'Millsboro ',
       'Larned ', 'Camden ', 'Otay Mesa ', 'Michigan City ', 'Chandler ',
       'Bandera ', 'Cumming ', 'Lee ', 'Baton Rouge ', 'Milwaukie ',
       'Port Isabel ', 'Victoria ', 'Arabi ', 'Pope ', 'Petaluma ',
       'Friendship ', 'North Minneapolis ', 'Beaverton ', 'Kingsland ',
       'Colorado Springs ', 'Belleville ', 'Elizabeth City ', 'Plymouth ',
       'Derry ', 'Whitesburg ', 'Ponte Vedra Beach ', 'Orlando ',
       'St. Petersburg ', 'McComb ', 'Sanford ', 'Gorham ', 'Bear ',
       'Surrey ', 'Berwyn ', 'Schnecksville ', 'Middleboro ',
       'Attelboro ', 'York Valley ', 'Angola ', 'Fairfield ', 'Troutman ',
       'Costa Mesa ', 'Dunedin ', 'Lakewood ', 'Vacaville ', 'Elizabeth ',
       'Desert Hot Springs ', 'Sky Valley ', 'Bullhead City ', 'Goleta ',
       'Napa ', 'Boulder City ', 'Huntington Beach ', 'Palm Springs ',
       'Menifee ', 'Moorpark ', 'Harlansburgh ', 'San Tan Valley ',
       'Cedar City ', 'Sabine Pass ', 'Weymouth ', 'Richardson ',
       'Palm Bay ', 'Modesto ', 'Toluca Lake ', 'St. Charles ',
       'Grafton ', 'Mill Run ', 'Tucson ', 'Cranston ', 'Wind Lake ',
       'Tomahawk ', 'Omaha ', 'Hastings on Hudson ', 'Shelbyville ',
       'Weaverville ', 'Brush Prairie ', 'Cicero ', 'Avondale ',
       'Draper ', 'Oceanside ', 'Richmond ', 'Revere ', 'Renton ',
       'Mesquite ', 'Sligo ', 'Kalispell ', 'Plum ', 'Gainesville ',
       'Los Angeles ', 'Glendora ', 'Norwalk ', 'Upton/Millbury ',
       'Garden City ', 'Londonderry ', 'University Place ', 'Blaine ',
       'Ellington ', 'Easley ', 'Palm Beach Gardens ', 'Greene ',
       'Campobello ', 'DeLuz/Temecula ', 'Elmhurst ', 'Hinesville ',
       'Hamden ', "Benson/McGee's Crossroads ", 'Redmond ', 'Eagan ',
       'Iowa City ', 'Gill ', 'Milpitas ', 'LAS VEGAS ', 'Glendale  ',
       'Owensboro ', 'Evansville ', 'Tehachapi ', 'Maryville ',
       'Hilldale ', 'Walnut Creek ', 'Palmetto ', 'Cottonwood ',
       'Brandon ', 'Cullman ', 'Woodinville ', "Lee's Summit ",
       'Olympia ', 'Cle Elum ', 'Ocean Shores ', 'Orient ',
       'Harpersville ',
       'New Mexico border (driving west on I-40: 20 mi. pa ', 'Moline ',
       'Miami ', 'Ypsilanti ', 'Plainfield ', 'Bellwood  ', 'Arbutus ',
       'Port Saint Lucie ', 'Saint George ', 'Sequim ', 'Whitewater ',
       'Brookhaven ', 'Wilkes-Barre/Hazleton  ', 'Guyton ', 'Canaan ',
       'Eugene ', 'Sandy ', 'Liberty ', 'Monmouth ', 'Missoula ',
       'Gadsden ', 'Selma ', 'Bangor ', 'Post Falls ', 'Simpsonville ',
       'Steamboat Springs ', 'San Ysidro ', 'Clovis ', 'Avon/Eagle ',
       'Bessemer City ', 'Bay City '], dtype=object)

In [19]:
ufo_df_date_sorted['Location'].replace('Ten Mile to Knox ','Knox', inplace=True)
# ufo_df_date_sorted['Location'].replace('Ten Mile to Knox','Knox', inplace=True)

In [ ]:
ufo_df_date_sorted['Location'].replace('Ten Mile to Knox ','Knox', inplace=True)

In [20]:
locations = ufo_df_date_sorted['Location'].unique()
locations

array(['Covington ', 'Smyrna ', 'Gillsville ', 'Elk Grove ',
       'Crystal City ', 'Las Vegas ', 'Bayville ', 'Glendale ',
       'Florence ', 'Anchorage ', 'Richland ', 'Joppatowne ', 'Medford ',
       'Amelia Island ', 'Corinth ', 'Colville ', 'Salt Lake City ',
       'Kennewick ', 'Chillicothe ', 'Malabar ', 'Phoenix ',
       'Gloucester ', 'Auburn ', 'Arnold ', 'Matthews ', 'Thermopolis ',
       'Sacramento ', 'Hereford Township ', 'Fort Pierce ', 'Boise ',
       'Swisher ', 'Fenton ', 'Rancho Cucamonga ', 'Vernon ', 'Newburgh ',
       'Sodaville ', 'Longmont ', 'Titusville ', 'Hollywood ', 'Chicago ',
       'Sac City ', 'Kissimmee ', 'Fortuna ', 'Branchland ', 'Aptos ',
       'Pinson ', 'Satellite Beach ', 'Portland ', 'Spokane Valley ',
       'Irmo ', 'Ontario ', 'Yelm ', 'Tacoma ', 'Cary ', 'Bremerton ',
       'Fuquay Varina ', 'French Creek ', 'Downey ', 'Snohomish ',
       'Denver ', 'Four Oaks ', 'Ocala ', 'Cooperstown ',
       'North Myrtle Beach ', 'Natchitoches ', 'Biloxi ', 'Fountain ',
       'Snellville ', 'Raleigh ', 'Denton ', 'Nashville ', 'Rifton ',
       'St. Louis ', 'Wrightsville ', 'Gilbert ', 'Dixmont ', 'Ivanhoe ',
       'Kingsburg ', 'Lake Havasu City ', 'Lafayette ', 'Wichita ',
       'Lafayette  ', 'Houston ', 'Joplin ', 'Columbia ',
       'Elk Grove Village ', 'Knoxville ', 'Columbus ',
       'Colorado Springs  ', 'Camp Pendleton ', 'Black River Falls ',
       'Albuquerque ', 'Maumelle ', 'Danville ', 'Metairie ', 'Seattle ',
       'Conway ', 'Longview ', 'Cedar Falls ', 'Sutherlin ',
       'Woodland Township ', 'Winter Park ', 'Peoria ', 'Mecca ',
       'Sanger ', 'Dayton ', 'Antioch ', 'Hendersonville ', 'Mount Airy ',
       'Marion ', 'Philadelphia ', 'North Hollywood ', 'Santa Clarita ',
       'Bradenton ', 'Jerome ', 'Burbank ', 'I-495 North  ',
       'Bakersfield ', 'Hawthorne ', 'Road ', 'Round Rock ',
       'Carson City ', 'Scranton ', 'Austin ', 'Morganza ', 'Liverpool ',
       'Warren ', 'Bend ', 'Manassas Park ', 'Roseburg ', 'Florham Park ',
       'Neskowin ', 'Denvile ', 'Mill Spring ', 'Deerfield Beach ',
       'Woodside ', 'Greensburg ', 'Amery/Star Prairie ',
       'San Francisco ', 'Accord ', 'New York City  ', 'Angleton ',
       'Ponte Vedra ', 'Mineola ', 'Joppatown ', 'Panama City Beach ',
       'Laurel ', 'Coleman ', 'Hillsboro ', 'Effort ', 'Scottsdale ',
       'Manheim ', 'Goodyear ', 'Heber City ', 'Clio ',
       'Camby/Indianapolis ', 'Ivor ', 'Little Chute ', 'Foley ',
       'Cedar Springs ', 'Millville ', 'Middleburg Heights ',
       'Dickinson ', 'Billings ', 'Meadville ', 'Spring Hill ',
       'Imperial Beach ', 'Meridian ', 'El Cajon ', 'Cape Coral ',
       'Spurger ', 'Aurora ', 'Langhorne ', 'Oklahoma City ', 'Gallatin ',
       'Norwich ', 'Lighthouse Point ', 'Ashland ', 'Annapolis ',
       'Pound Ridge ', 'Black Canyon City ', 'Scarborough ', 'Whitmire ',
       'Doraville ', 'Pittsburgh ', 'Salem ', 'St. Paul ', 'Cornelius ',
       'Goose Creek ', 'Tempe ', 'Levittown ', 'Montpelier ',
       'Barre Town ', 'Norwich/Thetford ', 'Sunnyside ', 'West Danville ',
       'North Canton ', 'Clayton ', 'Asheville ', 'Santa Maria ',
       'Maywood ', 'Skokie ', 'Durham ', 'Appleton ', 'Hoquiam ',
       'Centreville ', 'Middle Village ', 'Antinito ', 'Council Grove ',
       'Quartzsite ', 'Pasadena ', 'Honolulu ', 'Concord ', 'Franklin ',
       'Orting ', 'Azusa ', 'Yuma ', 'Stafford ', 'Niles ', 'Huntington ',
       'Santa Fe ', 'Spring ', 'Long Beach ', 'Lubbock ', 'Irving ',
       'Virginia Beach ', 'Henderson ', 'Lakveville ', 'Damascus ',
       'Bolton ', 'Sterling ', 'Loveland ', 'Montevallo ', 'Huntingdon ',
       'Whitestone ', 'Reno ', 'Lake Elsinore ', 'Douglas ',
       'Ridgecrest ', 'Washington, DC  ', 'Buckeye ', 'Westport ',
       'New Braunfels ', 'Knox', 'Manchester ', 'Seneca ',
       'Boynton Beach ', 'San Diego ', 'Moncks Corner ',
       'Route 66 West  ', 'Rohnert Park ', 'Queen Creek ', 'Odessa ',
       'Hudsonville ', 'Camdenton ', 'Arden ', 'East Aurora ',
       'Ocean & Monmouth Counties ', 'Falmouth ', 'Keaau ',
       'Shippensburg ', 'Phoenix  ', 'Tome ', 'Amsterdam ', 'Rowlett ',
       'Uniontown ', 'Tempe/Phoenix ', 'Forked River ', 'La Luz ',
       'Waukesha ', 'Absecon  ', 'Ayer/Harvard ', 'Littleton ', 'Waukee ',
       'Rochester Hills ', 'Umatilla ', 'New Orleans ', 'Trenton ',
       'Orono ', 'Springfield ', 'Pontiac ', 'Baltimore  ', 'Fairbanks ',
       'Murfreesboro ', 'Helenville ', 'Taos ', 'Barrington ', 'Indio ',
       'Cerritos ', 'Jacksonville ', 'Childress ', 'Easton ',
       'Forest Acres ', 'Taylors ', 'Delray Beach ', 'Wenonah ',
       'Stroudsburg ', 'Woodbury ', 'Castalian Springs ', 'Southington ',
       'Newtown ', 'MORRISTOWN ', 'Broomfield ', 'Santee ',
       'Chula Vista ', 'Milford ', 'Hagerstown ', 'Ravenna ',
       'Middleburg ', 'Naalehu ', 'Rockville ', 'Greenville ', 'Hopkins ',
       'La Plata ', 'Pennsburg ', 'Parkersburg ', 'Hillsville ',
       'Coopersburg ', 'Clark ', 'Rover ', 'Williamsburg ',
       'West Suffield ', 'Port Charlotte ', 'Ten mile ', 'Baltimore ',
       'Carmel ', 'Big Lake ', 'Stanton ', 'Allentown ', 'Hampton Bays ',
       'Sandpoint ', 'North Shore ', 'Warrensburg ', 'Sarasota ',
       'Twin Lake ', 'Orangevale ', 'Stanardsville ', 'New Blaine ',
       'Roberts County ', 'Eureka ', 'Burien ', 'Des Moines ',
       'Viking Mountain ', 'Suffolk ', 'Grand Terrace ', 'Ventura ',
       'Citrus Heights ', 'Frederick ', 'Lake Wylie ', 'Oxford ',
       'State College ', 'Blue Hill ', 'Eliot ', 'Maurice River TWP ',
       'Jackson ', 'Seymour ', 'Chapin ', 'Windsor Heights ', 'Vassar ',
       'Arlington/Marysville ', 'Carolina Beach ', 'Goliad ',
       'North Riverside ', 'Bow ', 'Jenkins ', 'Putnam ', 'Phenix city ',
       'Holden ', 'Oswego ', 'West Hartford ', 'Hubertus ', 'Waianae ',
       'Livingston ', 'Clanton ', 'Brodheadsville ', 'Unity ', 'Candler ',
       'Susanville ', 'Surprise ', 'Birmingham ', 'Issaquah ',
       'Royal Oak ', 'Corona del Mar ', 'Hampshire ', 'Hutchinson ',
       'Pueblo ', 'Bainbridge Island ', 'New Washington ', 'Duluth ',
       'Union ', 'Kettering ', 'Buffalo ', 'Pascagoula ', 'Big Sandy ',
       'Beverly Shores ', 'Mettawa ', 'Howland ', 'Augusta ',
       'Indianapolis ', 'Ashville ', 'Windsor ', 'Golden Valley ',
       'Slidell ', 'Copperopolis ', 'Davidsonville ', 'Daly City ',
       'Altus ', 'Dallas ', 'Varnville ', 'Lexington Park ',
       'Mount Vernon ', 'Quaker City ', 'Prior Lake ', 'Spanaway ',
       'Fridley ', 'Arizona?? ', 'Little Torch Key ', 'LaCrosse ',
       'Cedar Lake  ', 'Canadian ', 'New Kensington ', 'Poplar ',
       'Exeter ', 'Anaheim ', 'Fort Wayne ', 'Ft. Sill ', 'Warwick ',
       'Taylor ', 'Ogden ', 'Shiner ', 'Rochester ', 'rockford ',
       'Tallahassee ', 'Washington ', 'Naugatuck ', 'Palmetto Bay ',
       'Ft. Myers Beach ', 'Wolf Creek ', 'Middletown ', 'Sonoma ',
       'Torrance ', 'Continental Divide ', 'Paris ', 'Paris-Winchester ',
       'Brownstown ', 'Apple Valley ', 'East Irondequoit ', 'Scipio ',
       'Camano Island ', 'Leesville ', 'Brookfield ', 'Bluff City ',
       'Parker ', 'Rapid City ', 'Aliso Viejo ', 'Fogelsville ',
       'Madison ', 'Elk City ', 'San Jose ', 'Milpitas  ',
       'Las Vegas in desert ', 'Bellingham ', 'Ewing ', 'Millsboro ',
       'Larned ', 'Camden ', 'Otay Mesa ', 'Michigan City ', 'Chandler ',
       'Bandera ', 'Cumming ', 'Lee ', 'Baton Rouge ', 'Milwaukie ',
       'Port Isabel ', 'Victoria ', 'Arabi ', 'Pope ', 'Petaluma ',
       'Friendship ', 'North Minneapolis ', 'Beaverton ', 'Kingsland ',
       'Colorado Springs ', 'Belleville ', 'Elizabeth City ', 'Plymouth ',
       'Derry ', 'Whitesburg ', 'Ponte Vedra Beach ', 'Orlando ',
       'St. Petersburg ', 'McComb ', 'Sanford ', 'Gorham ', 'Bear ',
       'Surrey ', 'Berwyn ', 'Schnecksville ', 'Middleboro ',
       'Attelboro ', 'York Valley ', 'Angola ', 'Fairfield ', 'Troutman ',
       'Costa Mesa ', 'Dunedin ', 'Lakewood ', 'Vacaville ', 'Elizabeth ',
       'Desert Hot Springs ', 'Sky Valley ', 'Bullhead City ', 'Goleta ',
       'Napa ', 'Boulder City ', 'Huntington Beach ', 'Palm Springs ',
       'Menifee ', 'Moorpark ', 'Harlansburgh ', 'San Tan Valley ',
       'Cedar City ', 'Sabine Pass ', 'Weymouth ', 'Richardson ',
       'Palm Bay ', 'Modesto ', 'Toluca Lake ', 'St. Charles ',
       'Grafton ', 'Mill Run ', 'Tucson ', 'Cranston ', 'Wind Lake ',
       'Tomahawk ', 'Omaha ', 'Hastings on Hudson ', 'Shelbyville ',
       'Weaverville ', 'Brush Prairie ', 'Cicero ', 'Avondale ',
       'Draper ', 'Oceanside ', 'Richmond ', 'Revere ', 'Renton ',
       'Mesquite ', 'Sligo ', 'Kalispell ', 'Plum ', 'Gainesville ',
       'Los Angeles ', 'Glendora ', 'Norwalk ', 'Upton/Millbury ',
       'Garden City ', 'Londonderry ', 'University Place ', 'Blaine ',
       'Ellington ', 'Easley ', 'Palm Beach Gardens ', 'Greene ',
       'Campobello ', 'DeLuz/Temecula ', 'Elmhurst ', 'Hinesville ',
       'Hamden ', "Benson/McGee's Crossroads ", 'Redmond ', 'Eagan ',
       'Iowa City ', 'Gill ', 'Milpitas ', 'LAS VEGAS ', 'Glendale  ',
       'Owensboro ', 'Evansville ', 'Tehachapi ', 'Maryville ',
       'Hilldale ', 'Walnut Creek ', 'Palmetto ', 'Cottonwood ',
       'Brandon ', 'Cullman ', 'Woodinville ', "Lee's Summit ",
       'Olympia ', 'Cle Elum ', 'Ocean Shores ', 'Orient ',
       'Harpersville ',
       'New Mexico border (driving west on I-40: 20 mi. pa ', 'Moline ',
       'Miami ', 'Ypsilanti ', 'Plainfield ', 'Bellwood  ', 'Arbutus ',
       'Port Saint Lucie ', 'Saint George ', 'Sequim ', 'Whitewater ',
       'Brookhaven ', 'Wilkes-Barre/Hazleton  ', 'Guyton ', 'Canaan ',
       'Eugene ', 'Sandy ', 'Liberty ', 'Monmouth ', 'Missoula ',
       'Gadsden ', 'Selma ', 'Bangor ', 'Post Falls ', 'Simpsonville ',
       'Steamboat Springs ', 'San Ysidro ', 'Clovis ', 'Avon/Eagle ',
       'Bessemer City ', 'Bay City '], dtype=object)

In [45]:
 # create a params dict that will be updated with new city each iteration
params = {"key": g_key}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in ufo_df_date_sorted.iterrows():
    try:
        base_url = "https://maps.googleapis.com/maps/api/geocode/json"

        city = row['Location']
        state = row['State']

        # update address key value
        params['address'] = f"{city},{state}"

        # make request
        cities_lat_lng = requests.get(base_url, params=params)
        
        # convert to json
        cities_lat_lng = cities_lat_lng.json()

        ufo_df_date_sorted.loc[index, "Lat"] = cities_lat_lng["results"][0]["geometry"]["location"]["lat"]
        ufo_df_date_sorted.loc[index, "Lng"] = cities_lat_lng["results"][0]["geometry"]["location"]["lng"]

    except:
        print(f'City not found. Skipping...')
    
    
print("Process finished!")
# # Visualize to confirm lat lng appear
ufo_df_date_sorted.head()

Process finished!

       Date         Shape       Location State Country      Lat      Lng
0  1/1/2016   Orb/Sphere      Covington    WA     USA   47.3596 -122.118
1  1/1/2016  Lights Only         Smyrna    GA     USA    33.884 -84.5144
2  1/1/2016  Lights Only     Gillsville    GA     USA   34.3079 -83.6335
3  1/1/2016  Lights Only      Elk Grove    CA     USA   38.4088 -121.372
4  1/1/2016  Lights Only   Crystal City    MO     USA   38.2191 -90.3852

In [47]:
ufo_df_date_sorted

           Date         Shape       Location State Country      Lat      Lng
0      1/1/2016   Orb/Sphere      Covington    WA     USA   47.3596 -122.118
1      1/1/2016  Lights Only         Smyrna    GA     USA    33.884 -84.5144
2      1/1/2016  Lights Only     Gillsville    GA     USA   34.3079 -83.6335
3      1/1/2016  Lights Only      Elk Grove    CA     USA   38.4088 -121.372
4      1/1/2016  Lights Only   Crystal City    MO     USA   38.2191 -90.3852
..          ...           ...            ...   ...     ...      ...      ...
799  12/31/2015  Lights Only     Titusville    FL     USA   28.6122 -80.8076
800  12/31/2015  Lights Only      Las Vegas    NV     USA   36.1699  -115.14
801  12/31/2015  Lights Only     Scottsdale    AZ     USA   33.4942 -111.926
802  12/31/2015       Circle       Bay City    TX     USA   28.9828 -95.9694
803  12/31/2015  Lights Only     Bellingham    WA     USA   48.7519 -122.479

[804 rows x 7 columns]

In [48]:
ufo_df_date_sorted['Closest Airport'] = ""
ufo_df_date_sorted['Closest Airport Address'] = ""
ufo_df_date_sorted.head()

,Date,Shape,Location,State,Country,Lat,Lng,Closest Airport,Closest Airport Address
0,1/1/2016,Orb/Sphere,Covington,WA,USA,47.3596,-122.118,,
1,1/1/2016,Lights Only,Smyrna,GA,USA,33.884,-84.5144,,
2,1/1/2016,Lights Only,Gillsville,GA,USA,34.3079,-83.6335,,
3,1/1/2016,Lights Only,Elk Grove,CA,USA,38.4088,-121.372,,
4,1/1/2016,Lights Only,Crystal City,MO,USA,38.2191,-90.3852,,

In [49]:
 # create a params dict that will be updated with new city each iteration
params = {
    "radius": 50000,
    "types": "airport",
    "key": g_key
}
# Loop through the cities_pd and run a lat/long search for each city
for index, row in ufo_df_date_sorted.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        ufo_df_date_sorted['Closest Airport'] = name_address["results"][0]["name"]
        ufo_df_date_sorted['Closest Airport Address'] = name_address["results"][0]["vicinity"]
    #     cities_pd.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

NameError: name 'gkey' is not defined