In [62]:
#import dependencies
import pandas as pd
import csv

In [63]:
#create filepath
fireball_csv = "cneos_fireball_data.csv"
fireball_df = pd.read_csv(fireball_csv)

In [64]:
#inital print
fireball_df.head()

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2017-07-31 22:01:35,24.7N,118.5W,NaN,NaN,NaN,NaN,NaN,5.800000e+10,0.19
1,2017-07-23 06:12:38,6.6S,69.7W,38.0,17.2,-0.4,8.7,-14.8,3.500000e+10,0.12
2,2017-07-13 09:30:36,23.1N,60.7E,35.0,13.7,-10.0,-6.5,-6.8,7.300000e+10,0.23
3,2017-06-30 14:26:45,34.3S,134.5E,20.0,15.2,10.9,-9.7,4.2,9.400000e+10,0.29
4,2017-06-23 20:21:55,57.0N,143.7E,35.1,24.3,17.7,13.1,-10.3,1.840000e+11,0.52

In [65]:
fireball_df.columns

Index(['Peak Brightness Date/Time (UT)', 'Latitude (deg.)', 'Longitude (deg.)',
       'Altitude (km)', 'Velocity (km/s)', 'vx', 'vy', 'vz',
       'Total Radiated Energy (J)', 'Calculated Total Impact Energy (kt)'],
      dtype='object')

In [66]:
#filter for columns we want to keep
fireball_df = fireball_df[['Peak Brightness Date/Time (UT)', 'Latitude (deg.)', 'Longitude (deg.)']]

In [67]:
#sanity check
fireball_df

    Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0              2017-07-31 22:01:35           24.7N           118.5W
1              2017-07-23 06:12:38            6.6S            69.7W
2              2017-07-13 09:30:36           23.1N            60.7E
3              2017-06-30 14:26:45           34.3S           134.5E
4              2017-06-23 20:21:55           57.0N           143.7E
..                             ...             ...              ...
714            1993-11-29 17:48:41           26.5N            78.3E
715            1993-10-31 03:39:27           51.3N           100.9W
716            1991-10-04 09:22:47           78.7N             6.3E
717            1990-10-01 03:51:47            7.5N           142.8E
718            1988-04-15 03:03:10            4.1S           124.3E

[719 rows x 3 columns]

In [68]:
fireball_df.dtypes

Peak Brightness Date/Time (UT)    object
Latitude (deg.)                   object
Longitude (deg.)                  object
dtype: object

In [69]:

#southern_lat = fireball_df.loc[fireball_df['Latitude (deg.)'] == "S", :]

fireball_df[fireball_df['Latitude (deg.)'].str.contains("S", na=False)]

    Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
1              2017-07-23 06:12:38            6.6S            69.7W
3              2017-06-30 14:26:45           34.3S           134.5E
5              2017-06-20 13:41:32           54.2S           133.0E
6              2017-05-24 07:03:03            9.1S           101.8E
7              2017-05-22 17:44:39           49.6S           157.6W
..                             ...             ...              ...
693            1995-07-09 18:20:09            0.9S            66.3E
702            1994-12-16 09:41:03           42.2S            27.6E
704            1994-11-01 06:50:46            1.5S            84.5W
706            1994-10-20 00:11:21           45.2S             1.9W
718            1988-04-15 03:03:10            4.1S           124.3E

[275 rows x 3 columns]

In [70]:
#convert the lat/long to the same format as the other files
# Northern latitudes are positive N = +
#Southern latitudes are negative S = -
#Eastern longitudes are positive E = +
#Western longitudes are negative W = -

#drop the N,E,S,W and make the correct values negative
concat_attempt = "-" + fireball_df['Latitude (deg.)'].str[: -1]
concat_attempt

0      -24.7
1       -6.6
2      -23.1
3      -34.3
4      -57.0
       ...
714    -26.5
715    -51.3
716    -78.7
717     -7.5
718     -4.1
Name: Latitude (deg.), Length: 719, dtype: object

In [71]:
#filter the southern lats
southern_lat_df = fireball_df[fireball_df['Latitude (deg.)'].str.contains("S", na=False)]
southern_lat_df['Latitude (deg.)'] = "-" + southern_lat_df['Latitude (deg.)'].str[: -1]
southern_lat_df

<ipython-input-71-ec2425bf1f0d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  southern_lat_df['Latitude (deg.)'] = "-" + southern_lat_df['Latitude (deg.)'].str[: -1]

    Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
1              2017-07-23 06:12:38            -6.6            69.7W
3              2017-06-30 14:26:45           -34.3           134.5E
5              2017-06-20 13:41:32           -54.2           133.0E
6              2017-05-24 07:03:03            -9.1           101.8E
7              2017-05-22 17:44:39           -49.6           157.6W
..                             ...             ...              ...
693            1995-07-09 18:20:09            -0.9            66.3E
702            1994-12-16 09:41:03           -42.2            27.6E
704            1994-11-01 06:50:46            -1.5            84.5W
706            1994-10-20 00:11:21           -45.2             1.9W
718            1988-04-15 03:03:10            -4.1           124.3E

[275 rows x 3 columns]

In [72]:
#update the dataframe with updated lat values
fireball_df.set_index('Peak Brightness Date/Time (UT)', inplace=True)
fireball_df.update(southern_lat_df.set_index('Peak Brightness Date/Time (UT)'))
fireball_df.reset_index()

    Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0              2017-07-31 22:01:35           24.7N           118.5W
1              2017-07-23 06:12:38            -6.6            69.7W
2              2017-07-13 09:30:36           23.1N            60.7E
3              2017-06-30 14:26:45           -34.3           134.5E
4              2017-06-23 20:21:55           57.0N           143.7E
..                             ...             ...              ...
714            1993-11-29 17:48:41           26.5N            78.3E
715            1993-10-31 03:39:27           51.3N           100.9W
716            1991-10-04 09:22:47           78.7N             6.3E
717            1990-10-01 03:51:47            7.5N           142.8E
718            1988-04-15 03:03:10            -4.1           124.3E

[719 rows x 3 columns]

In [73]:
#filter the Western Longitudes
longitude_df = fireball_df[fireball_df['Longitude (deg.)'].str.contains("W", na=False)]
longitude_df['Longitude (deg.)'] = "-" + longitude_df['Longitude (deg.)'].str[: -1]
longitude_df

<ipython-input-73-c573e407cf46>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  longitude_df['Longitude (deg.)'] = "-" + longitude_df['Longitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-31 22:01:35                      24.7N           -118.5
2017-07-23 06:12:38                       -6.6            -69.7
2017-05-22 17:44:39                      -49.6           -157.6
2017-03-11 04:51:21                      28.3N            -60.2
2017-03-09 04:16:37                      40.5N            -18.0
...                                        ...              ...
1995-02-16 13:05:47                      16.7N           -141.7
1994-11-01 06:50:46                       -1.5            -84.5
1994-10-20 00:11:21                      -45.2             -1.9
1994-06-15 00:02:26                      45.0N            -73.5
1993-10-31 03:39:27                      51.3N           -100.9

[252 rows x 2 columns]

In [80]:
#update with updated long values
fireball_df.update(longitude_df['Longitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-31 22:01:35                      24.7N           -118.5
2017-07-23 06:12:38                       -6.6            -69.7
2017-07-13 09:30:36                      23.1N            60.7E
2017-06-30 14:26:45                      -34.3           134.5E
2017-06-23 20:21:55                      57.0N           143.7E
...                                        ...              ...
1993-11-29 17:48:41                      26.5N            78.3E
1993-10-31 03:39:27                      51.3N           -100.9
1991-10-04 09:22:47                      78.7N             6.3E
1990-10-01 03:51:47                       7.5N           142.8E
1988-04-15 03:03:10                       -4.1           124.3E

[719 rows x 2 columns]

In [82]:
#filter the northern lats to remove the north
northern_lat_df = fireball_df[fireball_df['Latitude (deg.)'].str.contains("N", na=False)]
northern_lat_df['Latitude (deg.)'] = northern_lat_df['Latitude (deg.)'].str[: -1]
northern_lat_df

<ipython-input-82-9b9f3087173c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  northern_lat_df['Latitude (deg.)'] = northern_lat_df['Latitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-31 22:01:35                       24.7           -118.5
2017-07-13 09:30:36                       23.1            60.7E
2017-06-23 20:21:55                       57.0           143.7E
2017-03-11 04:51:21                       28.3            -60.2
2017-03-09 04:16:37                       40.5            -18.0
...                                        ...              ...
1994-02-01 22:38:09                        2.7           164.1E
1993-11-29 17:48:41                       26.5            78.3E
1993-10-31 03:39:27                       51.3           -100.9
1991-10-04 09:22:47                       78.7             6.3E
1990-10-01 03:51:47                        7.5           142.8E

[264 rows x 2 columns]

In [83]:
#update fireball df with updated lat values
fireball_df.update(northern_lat_df['Latitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-31 22:01:35                       24.7           -118.5
2017-07-23 06:12:38                       -6.6            -69.7
2017-07-13 09:30:36                       23.1            60.7E
2017-06-30 14:26:45                      -34.3           134.5E
2017-06-23 20:21:55                       57.0           143.7E
...                                        ...              ...
1993-11-29 17:48:41                       26.5            78.3E
1993-10-31 03:39:27                       51.3           -100.9
1991-10-04 09:22:47                       78.7             6.3E
1990-10-01 03:51:47                        7.5           142.8E
1988-04-15 03:03:10                       -4.1           124.3E

[719 rows x 2 columns]

In [84]:
#filter the Eastern Longitudes
eastern_longitude = fireball_df[fireball_df['Longitude (deg.)'].str.contains("E", na=False)]
eastern_longitude['Longitude (deg.)'] = eastern_longitude['Longitude (deg.)'].str[: -1]
eastern_longitude

<ipython-input-84-ed1f437a96d8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eastern_longitude['Longitude (deg.)'] = eastern_longitude['Longitude (deg.)'].str[: -1]

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-13 09:30:36                       23.1             60.7
2017-06-30 14:26:45                      -34.3            134.5
2017-06-23 20:21:55                       57.0            143.7
2017-06-20 13:41:32                      -54.2            133.0
2017-05-24 07:03:03                       -9.1            101.8
...                                        ...              ...
1994-02-01 22:38:09                        2.7            164.1
1993-11-29 17:48:41                       26.5             78.3
1991-10-04 09:22:47                       78.7              6.3
1990-10-01 03:51:47                        7.5            142.8
1988-04-15 03:03:10                       -4.1            124.3

[287 rows x 2 columns]

In [85]:
#update fireball df with updated long values
fireball_df.update(eastern_longitude['Longitude (deg.)'])
fireball_df

                               Latitude (deg.) Longitude (deg.)
Peak Brightness Date/Time (UT)
2017-07-31 22:01:35                       24.7           -118.5
2017-07-23 06:12:38                       -6.6            -69.7
2017-07-13 09:30:36                       23.1             60.7
2017-06-30 14:26:45                      -34.3            134.5
2017-06-23 20:21:55                       57.0            143.7
...                                        ...              ...
1993-11-29 17:48:41                       26.5             78.3
1993-10-31 03:39:27                       51.3           -100.9
1991-10-04 09:22:47                       78.7              6.3
1990-10-01 03:51:47                        7.5            142.8
1988-04-15 03:03:10                       -4.1            124.3

[719 rows x 2 columns]