In [1]:
import pandas as pd
import csv

In [4]:
fireball_csv = "cneos_fireball_data.csv"
fireball_df = pd.read_csv(fireball_csv)

In [5]:
fireball_df.head()

,Peak Brightness Date/Time (UT),Latitude (deg.),Longitude (deg.),Altitude (km),Velocity (km/s),vx,vy,vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,2017-07-31 22:01:35,24.7N,118.5W,NaN,NaN,NaN,NaN,NaN,5.800000e+10,0.19
1,2017-07-23 06:12:38,6.6S,69.7W,38.0,17.2,-0.4,8.7,-14.8,3.500000e+10,0.12
2,2017-07-13 09:30:36,23.1N,60.7E,35.0,13.7,-10.0,-6.5,-6.8,7.300000e+10,0.23
3,2017-06-30 14:26:45,34.3S,134.5E,20.0,15.2,10.9,-9.7,4.2,9.400000e+10,0.29
4,2017-06-23 20:21:55,57.0N,143.7E,35.1,24.3,17.7,13.1,-10.3,1.840000e+11,0.52

In [7]:
fireball_df.columns

Index(['Peak Brightness Date/Time (UT)', 'Latitude (deg.)', 'Longitude (deg.)',
       'Altitude (km)', 'Velocity (km/s)', 'vx', 'vy', 'vz',
       'Total Radiated Energy (J)', 'Calculated Total Impact Energy (kt)'],
      dtype='object')

In [8]:
fireball_df = fireball_df[['Peak Brightness Date/Time (UT)', 'Latitude (deg.)', 'Longitude (deg.)']]

In [9]:
fireball_df

    Peak Brightness Date/Time (UT) Latitude (deg.) Longitude (deg.)
0              2017-07-31 22:01:35           24.7N           118.5W
1              2017-07-23 06:12:38            6.6S            69.7W
2              2017-07-13 09:30:36           23.1N            60.7E
3              2017-06-30 14:26:45           34.3S           134.5E
4              2017-06-23 20:21:55           57.0N           143.7E
..                             ...             ...              ...
714            1993-11-29 17:48:41           26.5N            78.3E
715            1993-10-31 03:39:27           51.3N           100.9W
716            1991-10-04 09:22:47           78.7N             6.3E
717            1990-10-01 03:51:47            7.5N           142.8E
718            1988-04-15 03:03:10            4.1S           124.3E

[719 rows x 3 columns]